<div id="<%= form["name"] %>" class="form">
  <b><%= form["name"].humanize %></b>

  <% Schema.order_fields_according_to_form(form_details.keys, form["name"]).each do |field_name| %>

      <% field_value = form_details[field_name] %>

      <div class="field">
        <% if field_value.is_a? Array %>
            <b><%= field_name.humanize + "s:" %></b>
            <%= h field_value.join ", " %>
        <% else %>
            <b><%= field_name.humanize %>:</b>
            <%= h field_value %>
        <% end %>
      </div>

  <% end %>
</div>