<h1 class="no_border float_left"><%= t("children.label") %></h1>
<% if can? :create, Child %>
    <%= link_to content_tag(:span, t("children.register_new_child"), :class => 'create_user'), new_child_path, :class=>'btn' %>
<% end %>

<% if can?(:export, Child) %>
    <div class="btn dropdown_btn">
      <span class="export"><%= t("children.export") %></span>
      <div class="dropdown hide">
        <% if can?(:view_all, Child) %>
            <%= link_to t('children.export_all_child_records_to_csv'), children_path(:format => :csv) %>
            <%= link_to t('children.export_all_child_records_to_pdf'), children_path(:format => :pdf) %>
        <%end%>
        <%= link_to t("children.export_some_records_to_csv"), new_advanced_search_path %>
      </div>
      <div class="encryption_form hide">
        <form accept-charset="UTF-8" action="<%= children_path(:format => :csv) %>" method="post">
          <p>
            <label> <%= t('encryption.label_for_password') %> </label>
            <input type="password" id="password" autocomplete ="off">
          </p>
          <p>
            <input type="submit" value="Save">
          </p>
        </form>
      </div>
    </div>


<%end%>