<h1 class="no_border float_left"><%= t("children.label") %></h1>
<% if can? :create, Child %>
    <%= link_to content_tag(:span, t("children.register_new_child"), :class => 'create_user'), new_child_path, :class=>'btn' %>
<% end %>

<% if can?(:export, Child) %>
    <div class="btn dropdown_btn">
      <span class="export"><%= t("children.export") %></span>
      <div class="dropdown hide">
        <% if can?(:export, Child) %>
            <%= link_to t('children.export_all_child_records_to_csv'), children_path(:format => :csv, :per_page => :all) %>
            <%= link_to t('children.export_all_child_records_to_pdf'), children_path(:format => :pdf, :per_page => :all) %>
            <%= link_to t("children.export_some_records_to_csv"), new_advanced_search_path %>
      <%end%>
      </div>
    </div>

<%end%>