<div id="<%= mark_as_property %>">
  <li class="<%=style%>">
  <a href="#"><%= mark_as_label %></a></li>
  <%= form_for @child, :as => :put do |f| %>
      <div class="mark-as-form">
        <h3><%= f.label("#{mark_as_message_id}", "#{mark_as_message}") %></h3>
        <%=	f.text_field "#{mark_as_message_id}", :size => 30, :value => "" %>
        <%= f.hidden_field("#{mark_as_property}", :value => "#{mark_as_property_value}") %>
        <%=	f.submit "#{mark_as_submit_label}", "data-error-message" => "#{error_message}", :class => 'mark-as-submit' %>
      </div>
    <% end %>
</div>
