<% if can? :update, child %>
    <span id="<%= mark_as_property %>" class="<%= style %>"><a href="#"><%= mark_as_label %></a></span>
    <div class="dropdown hide"
         data-form_action="<%= child_path(child) %>"
         data-form_id="<%= "child_#{child.id}" %>"
         data-message_id="<%= mark_as_message_id %>"
         data-message="<%= mark_as_message %>"
         data-property="<%= mark_as_property %>"
         data-property_value="<%= mark_as_property_value %>"
         data-request_url="<%= request.url %>"
         data-submit_label="<%= mark_as_submit_label %>"
         data-submit_error_message="<%= error_message %>"
         data-authenticity_token="<%= form_authenticity_token %>" >
    </div>
<%end%>