<p>
  Photos should be no larger than 10mb. Audio files should be no larger than 10mb. The smaller the better.
</p>
<% 5.times do |i|%>
<p class="file">
  <%= label_tag "child[photo]#{i}", "Add Photo" %>
  <%= file_field_tag "child[photo]#{i}" %>
  <% if photo_upload_box.help_text.present?%> 
	<img class="tool-tip-icon vtip" title="<%=photo_upload_box.help_text%>" src="/images/tool_tip_icon.gif"/>
  <% end%>
</p>
<% end %>

<% @child.photos.each do |photo| %>
    <p class="thumbnail">
      <%= label_tag "delete_child_photo[#{photo.name}]", "Delete photo?" %>
      <%= check_box_tag("delete_child_photo[#{photo.name}]") %>
      <%= thumbnail_tag(@child, photo.name) %>
    </p>
<% end %> 
