<p>
  Photos should be no larger than 10mb. Audio files should be no larger than 10mb. The smaller the better.
</p>
<% ChildrenHelper::EditView::ONETIME_PHOTOS_UPLOAD_LIMIT.times do |i|%>
<p class="file">
  <span class="tool-tip-label">
      <%= label_tag "child[photo]#{i}", "Add Photo", :class=>'key' %>

  </span>
  <%= file_field_tag "child[photo]#{i}" %>
  <% if photo_upload_box.help_text.present?%>
      <img class="tool-tip-icon vtip" title="<%=photo_upload_box.help_text%>" src="/images/new/icon_help.png"/>
  <% end%>
</p>
<% end %>

<% @child.photos.each do |photo| %>
    <p class="thumbnail">
      <%= label_tag "delete_child_photo[#{photo.name}]", t("child.actions.delete_photo") %>
      <%= check_box_tag("delete_child_photo[#{photo.name}]") %>
      <%= thumbnail_tag(@child, photo.name) %>
    </p>
<% end %> 
