<div class="profile-image">
    <% unless @child.photos.blank? %>
      <div class='image'>
          <%= link_to image_tag(child_resized_photo_path(@child, @child.primary_photo_id, 328)), child_resized_photo_path(@child, @child.primary_photo_id, 640) %>
          <p class='view-full-size'>Click on the Image to see full size</p>
      </div>
      <%= link_to("Edit photo", edit_photo_url(@child)) %>
      <%= link_to("Manage photos", manage_photos_url(@child)) %>
    <% else %>
      <%= image_tag('/images/no_photo_clip.jpg') %>    
    <% end %>

  <div class="thumbnails">
    <% @child.photos.each do |photo| %>
        <div class="thumbnail"><%= thumbnail_tag(@child, photo.name) %></div>
    <% end %>
  </div>
</div>


