<script type="text/javascript">
    $(document).ready(function()
    {
        $("#all").click(function()
        {
            var checked_status = this.checked;
            checkToggle(checked_status);
            $("#allbottom").attr("checked", checked_status);
        });
        $("#allbottom").click(function(){
            var checked_status = this.checked;
            checkToggle(checked_status);
            $("#all").attr("checked", checked_status);
        });
    });

    function checkToggle(checkStatus){
        $(".profiles-list :checkbox").each(function()
        {
            this.checked = checkStatus;
        });
    }
</script>

<% has_results = (@results && @results.size > 0) %>
<%= form_tag export_data_children_path(search_params: params), method: :post do %>
  <br />
  <div class="profiles-list child_list">
    <% if @results %>
        <div class="results-count">
          <p><%= t("advanced_search.records_found", :count => @results.total_entries) if @results.size > 0 %></p>
        </div>
    <% end %>
    <%= hidden_field_tag "full_results", @full_results.join(",") if @full_results%>
    <% if !@results.nil? && @results.size > 0 %>
    <%= check_box_tag 'all', 'Select all records' %>
    <%= label_tag 'all',t("select_all") %>
    <% end %>
    <%= render :partial => "children/summary_row", :collection => @results, :as => :child, :locals => { :checkbox => true, :highlighted_fields => child_sorted_highlighted_fields } %>

    <%= render :partial => 'shared/pagination', :locals => { :results => @results } %>

  </div>
  <div class="profiles-button-wrapper">
    <% if !@results.nil? && @results.size > 0 %>
      <%= hidden_field_tag 'password', nil, :id => 'hidden-password-field' %>
      <%= check_box_tag 'allbottom', 'Select all records' %>
      <%= label_tag 'allbottom', t("select_all") %>

      <% RapidftrAddon::ExportTask.active.each do |export_task| %>
        <% if can?("export_#{export_task.id}".to_sym, Child) %>
          <%= submit_tag t("addons.export_task.#{export_task.id}.selected"), :class => "password-prompt", :name => "commit" %>
        <% end %>
      <% end %>

    <% end %>
  </div>
<%end%>
