<% has_results = (@results && @results.size > 0) %>
<%= form_tag export_data_children_path, :method => :post do %>
  <script type="text/javascript">
  $(document).ready(function()
  {
  	$("#all").click(function()
  	{
  		var checked_status = this.checked;
                checkToggle(checked_status);
                $("#allbottom").attr("checked", checked_status);
        });
        $("#allbottom").click(function(){
                var checked_status = this.checked;
                checkToggle(checked_status);
                $("#all").attr("checked", checked_status);
        });
  });
  function checkToggle(checkStatus){
        $(".profiles-list :checkbox").each(function()
        {
                this.checked = checkStatus;
        });
  }
  </script>

  <br />
  <div class="profiles-list child_list">
    <% if !@results.nil? && @results.size > 0 %>
    <%= check_box_tag 'all', 'Select all records' %>
    <%= label_tag 'all', 'Select all records' %>
    <% end %>
    <%= render :partial => "children/summary_row", :collection => @results, :locals => { :checkbox => true } %>
    <%= "No results found" if @results.try(:size) == 0 %>

  </div>
  <div class="profiles-button-wrapper">
    <% if !@results.nil? && @results.size > 0 %>
    <%= check_box_tag 'allbottom', 'Select all records' %>
    <%= label_tag 'allbottom', 'Select all records' %>
    <% end %>
    <%= submit_tag "Export to Photo Wall" if has_results %>
    <%= submit_tag "Export to PDF" if has_results %>
    <%= submit_tag "Export to CSV" if has_results %>
  </div>
<%end%>

