<script type="text/javascript">
    $(document).ready(function()
    {
        $("#all").click(function()
        {
            var checked_status = this.checked;
            checkToggle(checked_status);
            $("#allbottom").attr("checked", checked_status);
        });
        $("#allbottom").click(function(){
            var checked_status = this.checked;
            checkToggle(checked_status);
            $("#all").attr("checked", checked_status);
        });
    });

    function checkToggle(checkStatus){
        $(".profiles-list :checkbox").each(function()
        {
            this.checked = checkStatus;
        });
    }
</script>

<% has_results = (@results && @results.size > 0) %>
<%= form_tag children_record_downloads_path(:format => :pdf), :method => :post do %>
  <br />
  <div class="profiles-list child_list">
    <% if !@results.nil? && @results.size > 0 %>
    <%= check_box_tag 'all', 'Select all records' %>
    <%= label_tag 'all',t("select_all") %>
    <% end %>
    <%= render :partial => "children/summary_row", :collection => @results, :as => :child, :locals => { :checkbox => true } %>
    <%= t("no_results_found") if @results.try(:size) == 0 %>

  </div>
  <div class="profiles-button-wrapper">
    <% if !@results.nil? && @results.size > 0 %>
    <%= check_box_tag 'allbottom', 'Select all records' %>
    <%= label_tag 'allbottom', t("select_all") %>
    <% end %>

    <%= submit_tag t("child.actions.export_to_photo_wall"), :class => "submit" if has_results %>
    <%= submit_tag t("child.actions.export_to_pdf"), :class => "submit" if has_results %>
    <%= submit_tag t("child.actions.export_to_csv"), :class => "submit" if has_results %>

    <div class="clearfix"></div>
    <span class="dropdown hide">
        <%= label_tag 'password', t('encryption.label_for_password') %>
        <input type="password" id="password" name="password" autocomplete ="off">
        <input type="hidden" id="commit" name="commit" class="commit" autocomplete ="off">
        <p>
        <input type="submit" value="Save">
        </p>
    </span>
  </div>
<%end%>

