<div class="profile-tools">
  <ul>
    <li class="back"><%= link_to 'Back', children_path %></li>
	<% if can? :update, @child %>
      <li class="edit"><%= link_to 'Edit', edit_child_path(@child) %> </li>
	<% end %>

    <li class="view-log"><%= link_to 'View the change log', child_history_path(@child) %></li>
	
	<% if can? :export, Child %>
    <li class="export_record">
      <%= link_to "Export this Record", "#", :class => "export_record_link"%>
      <ul class="sub_export_record" >
        <li><%= link_to "Export to Photo Wall", export_photo_to_pdf_child_path(@child, :format => 'pdf') %></li>
        <li><%= link_to "Export to PDF", child_path(@child, :format => 'pdf') %></li>
        <li><%= link_to "Export to CSV", child_path(@child, :format => 'csv') %></li>
      </ul>
    </li>
	<% end %>

    <%= render :partial =>"suspect_flag", :locals => { :child => @child } %>

    <% unless @child.reunited? %>
      <%= render :partial => "mark_as",
        :locals=> {
                :child => @child,
                :mark_as_label => "Mark child as Reunited",
                :mark_as_message_id => "reunited_message",
                :mark_as_message => "Reunite Details:",
                :mark_as_property => "reunited",
                :mark_as_property_value => "true",
                :mark_as_submit_label => "Reunite",
                :error_message => "Please confirm this child has been reunited with family or caregivers, and enter any details you have.",
                :style => "reunited"
      } %>
    <% else %>
      <%= render :partial => "mark_as",
        :locals=> {
            :child => @child,
            :mark_as_label => "Mark child as Not Reunited",
            :mark_as_message_id => "reunited_message",
            :mark_as_message => "Undo reunite Reason:",
            :mark_as_property => "reunited",
            :mark_as_property_value => "false",
            :mark_as_submit_label => "Undo Reunite",
            :error_message => "Please confirm child should be marked as Not Reunited, and enter any details you have.",
            :style => "reunited"
      } %>
    <% end %>
    <% if @child.flag? %>
      <% unless @child.investigated? %>
        <%= render :partial => "mark_as",
          :locals=> { :child => @child,
              :mark_as_label => "Mark record as Investigated",
            :mark_as_message_id => "investigated_message",
            :mark_as_message => "Investigation Details:",
            :mark_as_property => "investigated",
            :mark_as_property_value => "true",
            :mark_as_submit_label => "Mark as Investigated",
            :error_message => "Please confirm the flagged record should be marked as investigated, and enter any details you have.",
            :style => "investigated"
        } %>
      <% else %>
      <%= render :partial => "mark_as",
        :locals=> { :child => @child,
            :mark_as_label => "Mark as Not Investigated",
          :mark_as_message_id => "investigated_message",
          :mark_as_message => "Undo Investigation Details:",
          :mark_as_property => "investigated",
          :mark_as_property_value => "false",
          :mark_as_submit_label => "Undo Investigated",
          :error_message => "Please confirm the flagged record should be marked as Not Investigated, and enter any details you have.",
          :style => "investigated"
      } %>    
      <% end %>
    <% end %>
  </ul>
</div>
