<div class="profile-tools">
  <ul>
    <li class="back"><%= link_to 'Back', :back %></li>
    <li class="edit"><%= link_to 'Edit', edit_child_path(@child) %> </li>
    <li class="view-log"><%= link_to 'View the change log', child_history_path(@child) %></li>
	<li id="export_record">
		<%= link_to "Export this Record", "#", :id => "export_record_link"%>
		<ul id="sub_export_record">
			<li><%= link_to "Export to Photo Wall", export_photo_to_pdf_child_path(@child, :format => 'pdf') %></li>
			<li><%= link_to "Export to PDF", child_path(@child, :format => 'pdf') %></li>
			<li><%= link_to "Export to CSV", child_path(@child, :format => 'csv') %></li>
		</ul>
	</li>
    <% if !(@child.flag?) %>
        <li class="flag"><a href="#">Flag record as suspect</a></li>
      </ul>
      <% form_for @child, :as => :put do |f| %>
          <div class="flag-form">
            <h3><%= f.label(:flag_message,"Flag Reason:") %></h3>
            <%=	f.text_field :flag_message, :size => 30, :value => "" %>
            <%= f.hidden_field(:flag, :value => true)%>
            <%=	 f.submit "Flag", :id => 'submit_flag' %>
           </div>
      <% end %>
    <%else%>
        <li class="unflag"><a href="#">Unflag record</a><li>
      </ul>
      <% form_for @child, :as => :put do |f| %>
          <div class="unflag-form">
            <h3><%= f.label(:flag_message,"Unflag Reason:") %></h3>
            <%=	f.text_field :flag_message, :size => 30, :value => "" %>
            <%= f.hidden_field(:flag, :value => "false")%>
            <%=	 f.submit "Unflag", :id => 'submit_unflag' %>
           </div>
      <% end %>
    <% end %>
</div>
