<% @form_sections.each do |section| %>

  <fieldset id='tab_<%= section.section_name.underscore %>' class='<%= section.section_name %> tab '>
    <%= render :partial => 'shared/sidebar' %>
    <div class="clearfix"></div>

      <%= render :partial => "form_section_info", :locals => {:form_section => section} %>

      <div class="children_info">
      	<% (section.fields.select{|field| field.enabled?}).each do |field| %>
				<%= render :partial => "field_display_#{field.display_type}",  :locals=>{:field => field, :child=>@child} %>

	      <% end %>
	  </div>

  </fieldset>
<% end %>
