<!-- BEGIN: item -->
<div id="child_<%= child.id %>" class="entity_summary_panel">

  <div class="left_side">
    <div class="photo_panel">
      <%= link_to thumbnail_tag(child, child.primary_photo_id), child_path(child.id) %>
    </div>
    <% if local_assigns.has_key?(:score) && !:score.nil?%>
      <div class="score_panel" >
        <h2>
          <%= score.to_s[0..4] %>
        </h2>
      </div>
    <% end %>
  </div>
  <div class="summary_panel">
    <% if checkbox %>
    <p class="checkbox">
      <%= check_box_tag "selections[#{child_counter}]", child.id if checkbox %>
    </p>
       <% end %>

    <h2><%= link_to child.short_id, child_path(child) %></h2>
    <div class="clearfix"></div>

    <%= content_tag(:div, nil, :class => 'flag suspect') if child.flag? %>
    <%= content_tag(:div, nil, :class => 'flag reunited') if child.reunited? %>

      <% child_sorted_highlighted_fields.each do |relevant_field| %>
        <% if relevant_field.visible? %>
        <div class="summary_item">
          <div class="key"><%= t(relevant_field.display_name) %>:</div>
          <div class="value"><%= child[relevant_field[:name]] %></div>
        </div>
         <% end %>
      <% end %>

    <% if child.flag? %>
        <div class="summary_item">
          <div class="key"><%= t("children.flag_summary") %>:</div><div class="value"><%= (flag_summary_for_child(child)).html_safe %></div>
        </div>
    <% end -%>

    <div class="summary_item">
      <div class="key"><%= t("child.registered_by") %>:</div>
      <div class="value"><%= child.created_by %> <%= link_to_update_info(child)%> <%= t("preposition.on_label") %> <%= current_user.localize_date(child.created_at) %></div>
    </div>

    <% if child.last_updated_at %>
      <div class="summary_item">
        <div class="key"><%= t("child.last_updated") %>:</div>
        <div class="value"><%= current_user.localize_date(child.last_updated_at) %></div>
      </div>
    <% end %>
  </div>


  <div class="clearfix"></div>
  <div class="action_panel">
    <% show_links = true unless local_assigns.has_key? :show_links %>
    <% if show_links %>
      <ul class="view-edit">
        <% if can?(:update, child) %>
          <li>
          <%= link_to(t('buttons.edit'), edit_child_path(child), :class=>'edit') %> |
          </li>
          <li>
          <%= link_to t('child.mark_as_duplicate'), new_child_duplicate_path(child), :class=>'children/mark_as_duplicate' %> |
          </li>
          <li>
          <%= render :partial =>"children/suspect_flag", :object => child, :as => :child %>
          </li>

          <% if local_assigns.has_key?(:rendered_by_show_enquiry) && local_assigns.has_key?(:confirmed_match)%>
            <%= mark_as_not_matching_link child, confirmed_match, enquiry %>
            <%= confirm_match_link child, confirmed_match, enquiry %>
            <%= unconfirm_match_link child, confirmed_match, enquiry %>
            <% end %>          
          <% end %>
          </ul>
        <% end %>
      </div>
    </div>
<!-- END: item -->
