<!-- BEGIN: item -->
<div id="child_<%= summary_row['_id'] %>" class="profiles-list-item">
  <div class="header">
    <p class="checkbox">
      <%= check_box_tag summary_row['_id'], 'selected' %>
    </p>

    <h3><%= link_to summary_row['name'], child_path(summary_row) %></h3>

    <p class="view-edit"><%= link_to 'View', child_path(summary_row) %> | <%= link_to 'Edit', edit_child_path(summary_row) %></p>
  </div>
  <% if @show_thumbnails %>
      <p class="photo">
        <a href=<%= child_path(summary_row['_id']) %>>
          <%= thumbnail_tag(summary_row) %>
        </a>
      </p>
  <% end %>
  <div class="details">
    <dl class="basic">
      <dt>Age:</dt>
      <dd><%= summary_row["age"] %> (<%=summary_row["age_is"] ? summary_row["age_is"].downcase : summary_row["age_is"] %>)</dd>
      <dt>Gender:</dt>
      <dd><%= summary_row["gender"] %></dd>
      <dt>Origin:</dt>
      <dd><%= summary_row["origin"] %></dd>
    </dl>

    <p><strong>Last known location:</strong> <%= summary_row["last_known_location"] %>
      <em><%= summary_row["date_of_separation"] %> </em></p>

    <dl class="interviewer-details">
      <dt>Registered by:</dt>
      <dd><%= summary_row["created_by"] %> <%= link_to_update_info(summary_row)%> on <%= summary_row['created_at'] %></dd>
    </dl>
    <dl class="interview-timestamp">
      <% if summary_row['last_updated_at'] %>
        <dt>Last updated:</dt>
        <dd><%= summary_row['last_updated_at'] %></dd>
      <% end %>
    </dl>
  </div>
</div>
<!-- END: item -->