<!-- BEGIN: item -->
<div id="child_<%= summary_row['_id'] %>" class="profiles-list-item">
  <div class="header">
    <p class="checkbox">
      <%= check_box_tag "selections[#{summary_row_counter}]", summary_row['_id'] if checkbox %>
    </p>

    <h3><%= link_to summary_row['name'], child_path(summary_row) %></h3>
    <% if summary_row['flag']=="true"%>
        <%= image_tag("icon-flag.gif", :alt=> "Flagged",:size => "20x20",:class => 'flag') %>
    <% end %>
    <% if summary_row['reunited']=="true"%>
        <%= image_tag("icon-reunited.gif", :alt=> "Reunited",:size => "20x20",:class => 'reunited') %>
    <% end %>

    <p class="view-edit"><%= link_to 'View', child_path(summary_row) %> | <%= link_to 'Edit', edit_child_path(summary_row) %></p>
  </div>
  <p class="photo">
    <%= link_to thumbnail_tag(summary_row), child_path(summary_row['_id']) %>
  </p>
  <div class="details">
    <dl class="basic">
      <% @highlighted_fields.each do |relevant_field| %>
        <dt><%= relevant_field[:display_name] %>:</dt>
        <dd><%= summary_row[relevant_field[:name]] %></dd>
      <% end %>
    </dl>

    <p><strong>Last known location:</strong> <%= summary_row["last_known_location"] %>
      <em><%= summary_row["date_of_separation"] %> </em></p>

    <dl class="interviewer-details">
      <dt>Registered by:</dt>
      <dd><%= summary_row["created_by"] %> <%= link_to_update_info(summary_row)%> on <%= summary_row['created_at'] %></dd>
    </dl>
    <dl class="interview-timestamp">
      <% if summary_row['last_updated_at'] %>
        <dt>Last updated:</dt>
        <dd><%= summary_row['last_updated_at'] %></dd>
      <% end %>
    </dl>
  </div>
</div>
<!-- END: item -->
