<!-- BEGIN: item -->
<div id="child_<%= summary_row['_id'] %>" class="profiles-list-item">
  <div class="header">
    <p class="checkbox">
      <%= check_box_tag summary_row['_id'], 'selected' %>
    </p>

    <h3><%= link_to summary_row['name'], child_path(summary_row) %></h3>

    <p class="view-edit"><%= link_to 'View', child_path(summary_row) %> | <%= link_to 'Edit', edit_child_path(summary_row) %></p>
  </div>
  <% if @show_thumbnails %>
      <p class="photo">
        <a href="/">
          <%= thumbnail_tag(summary_row) %>
        </a>
      </p>
  <% end %>
  <div class="details">
    <dl>
      <dt>Age:</dt>
      <dd><%= summary_row["age"] %> (<%= summary_row["age_is"].downcase %>)</dd>
      <dt>Gender:</dt>
      <dd><%= summary_row["gender"] %></dd>
      <dt>Origin:</dt>
      <dd><%= summary_row["origin"] %></dd>
    </dl>

    <p><strong>Last known location:</strong> <%= summary_row["last_known_location"] %>
      <em><%= summary_row["date_of_separation"] %> </em></p>
  </div>
</div>
<!-- END: item -->