<% if @child.flag? %>
    <h3 class="flag-message"><%= flag_message%></h3>
<% end %>
<% form_tag child_path(@child), :method => :put, :multipart => true, :class => "edit-profile default-form" do %>

    <%= error_messages_for :child %>

    <%= render :partial => "tabs", :object => @form_sections %>

    <%= render :partial => "form_section", :collection => @form_sections %>

    <%= submit_button %>
    <%= discard_button children_path %>
<% end %>