<h1>Edit child record</h1>

<% form_tag child_path(@child), :method => :put, :multipart => true do %>

    <%= error_messages_for :child %>

    <%= render :partial => "form" %>

    <p>
      <%= label_tag "child[photo]", "Photo" %><br/>
      <%= file_field_tag "child[photo]" %>
    </p>

    <p>
      <%= submit_tag "Update" %>
    </p>

<% end %>

<%= link_to 'Back', children_path %>