<h1 class="float_left no_border"><%= link_to t("children.label"), children_path %> &gt; <%= link_to @child.short_id, child_path(@child)%> &gt; <%= t("child.edit_photo") %>  </h1>
<div class="clearfix"></div>

<div class="page-content-new">
  <div class="edit_photo_page">
    <%= form_for @child, :url => update_photo_url, :html => {:method => :put} do |f| %>
        <div class="profile-image display_photo">
          <%= image_tag photo_path('child', @child.id, @child.primary_photo_id), :id => "child_picture" %>
        </div>
        <%= hidden_field_tag "child[photo_orientation]", "0" %>
        <div class="profile-tools" id="image_rotation_links">
          <ul>
            <li><a href="#" class="rotate_anti_clockwise"><%= t("child.actions.rotate_anti_clockwise") %></a></li>
            <li><a href="#" class="restore_image"><%= t("child.actions.restore_image") %></a></li>
            <li><a href="#" class="rotate_clockwise"><%= t("child.actions.rotate_clockwise") %></a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="btn_panel">
        <%= f.submit t("buttons.save") %>
        </div>
    <% end %>
  </div>
</div>
