<%= render :partial => "children/header" %>
<div class="clearfix"></div>

<div class="filter_bar">
  <%= render :partial => "children/filter_box" %>
  <%= render :partial => "children/order_by_box" %>
</div>

<div class="entity_list">
  <% #Change me! %>
  <%= render :partial => "children/summary_row", :collection => @children, :as => :child, :locals => { :checkbox => false, :highlighted_fields => child_sorted_highlighted_fields  }  %>

  <div class="clearfix"></div>
  <%= render :partial => 'shared/pagination', :locals => { :results => @children } %>
</div>

<br/>
