<h1>Listing children</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Last known location</th>
  </tr>

<% @children.each do |child| %>
  <tr>
    <td><%=h child['name'] %></td>
    <td><%=h child['last_known_location'] %></td>
    <td><%= link_to 'Show', child %></td>
    <td><%= link_to 'Edit', edit_child_path(child) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New child', new_child_path %>
