<h1 class="no_border float_left">List of Children</h1>
<% if can? :create, Child %>
	<%= link_to content_tag(:span, 'Register New Child', :class => 'create_user'), new_child_path, :class=>'btn' %>
<% end %>
<div class="clearfix"></div>

<div class="filter_bar">
<%= render :partial => "children/filter_box" %>
<%= render :partial => "children/order_by_box" %>
</div>

<div class="child_list">
	<%= render :partial => "children/summary_row", :collection => @children, :locals => { :checkbox => false } %>
</div>

<br/>

<p><%= link_to "Back",:back %></p>
