<h1><%= link_to t("children.label"), children_path %> &gt; <%= t("children.register_new_child") %></h1>

<%= form_tag children_path, :multipart => true do %>
    <div class="page-content-new">
  	<%= hidden_field_tag "child[posted_from]", "Browser" %>
    <%= error_messages_for :child %>
      <div class="side-tab">
        <%= render :partial => "shared/tabs", :object => @form_sections %>
      </div>

      <div class="side-tab-content">
        <div class="clearfix"></div>
        <%= render :partial => "shared/form_section",:locals => { model: @child}, :collection => @form_sections %>
        <div class="btn_panel">  
            <%= discard_button :back %>
            <%= submit_button %>    
        </div> 
    </div> 
    </div>    
    <div class="clearfix"></div>
<% end %>



