<% form_tag search_children_path, :method => :get do %>
    <%= label_tag 'child_name', "Name" %>
    <%= text_field_tag 'child_name', params[:child_name] %>
    <%= label_tag 'unique_identifier', "Child ID"%>
    <%= text_field_tag 'unique_identifier', params[:unique_identifier] %>
    <%= label_tag 'show_thumbnails', "Show thumbnails"%>
    <%= check_box_tag 'show_thumbnails', "1", params[:show_thumbnails] %>
    <%= submit_tag "Search" %>
<%-end  %>

<%- form_tag photo_pdf_children_path, :method => :post do %>

<div class="profiles-list">
  <%= render :partial => "summary_row", :collection => @results %>
  <%= "No results found" if @show_no_results_message %>
</div>
<%= submit_tag "Export to PDF" %>
<%-end%>

<%=link_to( "Export to CSV", current_url_with_format_of('csv') ) if @show_csv_export_link%> 
