<div class="profile-header">
  <dl>
    <%= error_messages_for :child %>

    <dt>Unique Id:</dt>
    <dd><%= @child["unique_identifier"] %></dd>
  </dl>

  <% @form_sections.each do |section| %>
      <h2><%= section.section_name.humanize %></h2>
      <dl class="<%= section.section_name %>">
        <% section.fields.each do |field| %>
            <% if field.type != "photo_upload_box" %>
                <dt><%= field.name.humanize %>:</dt>
                <dd><%= @child[field.name].blank? ? "&nbsp;" : @child[field.name] %></dd>
            <% end %>
        <% end %>
      </dl>
  <% end %>
</div>


<div class="profile-tools">
  <ul>
    <li class="edit"><%= link_to 'Edit', edit_child_path(@child) %> </li>
    <li class="back"><%= link_to 'Back', children_path %></li>
    <li class="view-log"><%= link_to 'View the change log', child_history_path(@child) %></li>
    <li><%= link_to "Export to PDF", child_path(@child, :format => 'pdf') %></li>
  </ul>
</div>
