<% content_for :javascript do %>
    <%= javascript_include_tag "jquery.lightbox-0.5.min" %>
    <script type="text/javascript" language="javascript">
        $(function() {
            $('.profile-image .image a').lightBox({fixedNavigation:true});
        });
        $(function() {
            $(".accordion").accordion({ header: "h2", autoHeight: false, collapsible: true, active: false });
        });
    </script>
<% end %>

<% content_for :stylesheet do %>
    <%= stylesheet_link_tag "jquery.lightbox-0.5" %>
<% end %>

<div class="profile-tools">
  <ul>
    <li class="edit"><%= link_to 'Edit', edit_child_path(@child) %> </li>
    <li class="back"><%= link_to 'Back', :back %></li>
    <li class="view-log"><%= link_to 'View the change log', child_history_path(@child) %></li>
    <li><%= link_to "Export to Photo Wall", export_photo_to_pdf_child_path(@child, :format => 'pdf') %></li>
    <li><%= link_to "Export to PDF", child_path(@child, :format => 'pdf') %></li>
    <li><%= link_to "Export to CSV", child_path(@child, :format => 'csv') %></li>
  </ul>
</div>
<div class="accordion">
  <% @form_sections.find_all { |section| section.enabled? }.each do |section| %>
      <%= render :partial => "view_form_section", :locals => { :section => section } %>
  <% end %>
</div>