<% content_for :javascript do %>
    <%= javascript_include_tag "jquery.lightbox-0.5.min" %>
    <%= javascript_include_tag "jquery.jplayer.min" %>
    <script type="text/javascript" language="javascript">
        $(function() {
            $('.profile-image .image a').lightBox({fixedNavigation:true, 
                                                  imageLoading:			'/images/lightbox-ico-loading.gif',
                                            			imageBtnPrev:			'/images/lightbox-btn-prev.gif',	
                                            			imageBtnNext:			'/images/lightbox-btn-next.gif',	
                                            			imageBtnClose:			'/images/lightbox-btn-close.gif',
                                            			imageBlank:				'/images/lightbox-blank.gif'			
                                          			});

            $(".accordion").accordion({ header: "h2", autoHeight: false, collapsible: true, active: false });

            $(".profile-tools .mark-as-form").hide();
            $(".profile-tools .flag a").click( function(){
                $(this).parent().siblings('form').children('.mark-as-form').toggle();
            });
            $(".profile-tools .reunited a").click( function(){
                $(this).parent().siblings('form').children('.mark-as-form').toggle();
            });

            $(".mark-as-submit").click(function(){
                if(!$(this).siblings('input[type=text]').val()){
                  alert($(this).attr('data-error-message'));
                  return false;
                }
            });

            $('.sub_export_record').hide();

            $('.export_record_link').click( function(e) {
              e.preventDefault();
            });

            $('.export_record').click( function(e) {
              var $sub = $(this).find(".sub_export_record");

              if ( $sub.is(":hidden") ) {
                $sub.slideDown("slow");
              }
              else {
                  $sub.hide();
              }
            });

        });
    </script>
<% end %>
<% content_for :stylesheet do %>
    <%= stylesheet_link_tag "jquery.lightbox-0.5" %>
<% end %>

<% if @child.reunited? %>
    <div class="reunited-message"><%= reunited_message %></div>
<% end %>
<% if @child.flag? %>
    <h3 class="flag-message"><%= flag_message %></h3>
<% end %>
<br>
<%= render :partial => "show_child_toolbar"%>

<div id='interviewer_details'>
  <h3>Registered by: <%= @child['created_by'] %> <%= link_to_update_info(@child) %> on <%= DateTime.parse(@child['created_at']).in_time_zone(@user.time_zone) %></h3>
  <% if @child['last_updated_at']%>
    <h3>Last updated: <%= DateTime.parse(@child['last_updated_at']).in_time_zone(@user.time_zone) %> </h3>
  <% end %>
  <% if @child['posted_from']=="Mobile" %>
    <h3>Posted from the mobile client at: <%= DateTime.parse(@child['posted_at']).in_time_zone(@user.time_zone) %> </h3>
  <% end %>
</div>

<%= render :partial => "show_form_section" %>
<%= render :partial => "show_child_toolbar" %>
