<%= error_messages_for :child %>


<p  class = "imagePlaceholder">
  <%= image_tag child_path(@child)+".jpg" %>
</p>


<div class="field">
  <b>Unique Id</b>: <%= @child_view.unique_id %>
</div>

<% @child_view.fields.each do |field| %>
    <div class="field">
      <b><%= field.name.humanize %></b>: <%= field.value %>
    </div>
<% end %>


<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %> |
<%= link_to 'View the change log', child_history_path(@child) %>