<% content_for :javascript do %>
    <%= javascript_include_tag "jquery.lightbox-0.5.min" %>
    <script type="text/javascript" language="javascript">
        $(function() {
            $('.profile-image .image a').lightBox({fixedNavigation:true});
        });
        $(function() {
            $(".accordion").accordion({ header: "h2", autoHeight: false, collapsible: true, active: false });
        });
    </script>
<% end %>

<% content_for :stylesheet do %>
    <%= stylesheet_link_tag "jquery.lightbox-0.5" %>
<% end %>

<%= render :partial => "show_child_toolbar" %>

<%= render :partial => "view_form_section", :locals => { :section => @first_form_section } if @first_form_section != nil %>
<div class="accordion">
  <% @form_sections.each do |section| %>
      <%= render :partial => "view_form_section", :locals => { :section => section } %>
  <% end %>
</div>

<%= render :partial => "show_child_toolbar" %>
