<div class="profile-header">
  <h2> Identification Information</h2>
  <dl>
    <%= error_messages_for :child %>

    <dt>Unique Id</dt>
    <dd><%= @child_view.unique_id %></dd>

    <% @child_view.fields.each do |field| %>
        <dt><%= field.name.humanize %>:</dt>
        <dd><%= field.value %></dd>
    <% end %>

  </dl>
</div>


<div class="profile-tools">
  <ul>
    <li class="edit"><%= link_to 'Edit', edit_child_path(@child) %> </li>
    <li class="back"><%= link_to 'Back', children_path %></li>
    <li class="view-log"><%= link_to 'View the change log', child_history_path(@child) %></li>
  </ul>
</div>
