<p>
  <b>Name:</b>
  <%=h @child.name %>
</p>

<p>
  <b>Age:</b>
  <%=h @child.age %>
  <%= '(' + @child.isAgeExact + ')' %>
</p>

<p>
  <b>Gender:</b>
  <%= h @child.gender %>
</p>
<p>
  <b>Origin:</b>
  <%= h @child.origin %>
</p>
<p>
  <b>Last known location:</b>
  <%= h @child.lastKnownLocation %>
</p>
<p>
  <%= image_tag child_path(@child)+".jpg" %>
</p>



<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>