<% content_for :javascript do %>
    <%= javascript_include_tag "jquery.lightbox-0.5.min" %>
    <script type="text/javascript" language="javascript">
        $(function() {
            $('.profile-image .image a').lightBox({fixedNavigation:true});

            $(".accordion").accordion({ header: "h2", autoHeight: false, collapsible: true, active: false });

            $(".profile-tools .flag-form").hide();
            $(".profile-tools li.flag a").click( function(){
                $(".profile-tools .flag-form").toggle();
            });
        });
    </script>
<% end %>

<% content_for :stylesheet do %>
    <%= stylesheet_link_tag "jquery.lightbox-0.5" %>
<% end %>
<% if @child.flag? %>
    <h3 class="flag-message">Flagged as suspect record</h3>
<% end %>
<%= render :partial => "show_child_toolbar" %>

<div id='interviewer_details'>
  <h3>Registered by: <%= @child['created_by'] %> <%= link_to_update_info(@child) %> on <%= @child['created_at'] %></h3>
  <% if @child['last_updated_by']%>
    <h3>Last updated: <%= @child['last_updated_at'] %> </h3>
  <% end %>
</div>

<%= render :partial => "show_form_section" %>
<%= render :partial => "show_child_toolbar" %>