<% content_for :javascript do %>
<script type="text/javascript" language="javascript">
$(function() {
  $('.profile-image .image a').lightBox({fixedNavigation:true,
                                        imageLoading:			'/images/lightbox-ico-loading.gif',
                                        imageBtnPrev:			'/images/lightbox-btn-prev.gif',
                                        imageBtnNext:			'/images/lightbox-btn-next.gif',
                                        imageBtnClose:			'/images/lightbox-btn-close.gif',
                                        imageBlank:				'/images/lightbox-blank.gif'
  });

  $(".accordion").accordion({ header: "h2", autoHeight: false, collapsible: true, active: false });

            $(".profile-tools .mark-as-form").hide();
            $(".profile-tools .flag a").click( function(){
                $(this).parent().siblings('form').children('.mark-as-form').toggle();
            });
            $(".profile-tools .reunited a").click( function(){
                $(this).parent().siblings('form').children('.mark-as-form').toggle();
            });
            $(".profile-tools .investigated a").click( function(){
                $(this).parent().siblings('form').children('.mark-as-form').toggle();
            });

  $(".mark-as-submit").click(function(){
    if(!$(this).siblings('input[type=text]').val()){
      alert($(this).attr('data-error-message'));
      return false;
    }
  });

  $('.sub_export_record').hide();

  $('.export_record_link').click( function(e) {
    e.preventDefault();
  });

  $('.export_record').click( function(e) {
    var $sub = $(this).find(".sub_export_record");

    if ( $sub.is(":hidden") ) {
      $sub.slideDown("slow");
    }
    else {
      $sub.hide();
    }
  });

});
</script>
<% end %>
<h1 class="float_left no_border"><%= link_to 'Children', children_path %> &gt; <%= @child.name %> (<%= @child.short_id %>)</h1>
<% if can? :update, @child %>
    <%= link_to content_tag(:span, 'Edit', :class => 'edit'), edit_child_path(@child), :class=>'btn' %>
<% end %>
<% if can?(:export, Child) %>
    <div class="btn dropdown_btn">
      <span class="export">Export</span>
      <div class="dropdown hide">
        <%= link_to "Export to Photo Wall", export_photo_to_pdf_child_path(@child, :format => 'pdf') %>
        <%= link_to "Export to PDF", child_path(@child, :format => 'pdf') %>
        <%= link_to "Export to CSV", child_path(@child, :format => 'csv') %>
      </div>
    </div>
<%end%>
<div class="btn dropdown_btn">
    <% if can?(:flag, Child) %>
        <%= render :partial => "mark_as",
                       :locals=> { :mark_as_label => "Flag",
                                   :mark_as_message_id => "flag_message",
                                   :mark_as_message => "Flag Reason:",
                                   :mark_as_property => "flag",
                                   :mark_as_property_value => "true",
                                   :mark_as_submit_label => "Flag",
                                   :error_message => "Please explain why you are flagging this record.",
                                   :style => "flag"
                       } %>
        <% else %>
        <%= render :partial => "mark_as",
                   :locals=> { :mark_as_label => "Unflag record",
                               :mark_as_message_id => "flag_message",
                               :mark_as_message => "Unflag Reason:",
                               :mark_as_property => "flag",
                               :mark_as_property_value => "false",
                               :mark_as_submit_label => "Unflag",
                               :error_message => "Please explain why you are unflagging this record." ,
                               :style => "flag"
                   } %>
    <%end%>
</div>

<div class="btn dropdown_btn">
  <% if can?(:flag, Child) %>
      <%= render :partial => "mark_as",
                 :locals=> { :mark_as_label => "Mark as Reunited",
                             :mark_as_message_id => "reunited_message",
                             :mark_as_message => "Reunite Details:",
                             :mark_as_property => "reunited",
                             :mark_as_property_value => "true",
                             :mark_as_submit_label => "Reunite",
                             :error_message => "Please confirm this child has been reunited with family or caregivers, and enter any details you have.",
                             :style => "reunite"
                 } %>
  <% else %>
      <%= render :partial => "mark_as",
                 :locals=> { :mark_as_label => "Mark as Not Reunited",
                             :mark_as_message_id => "reunited_message",
                             :mark_as_message => "Undo reunite Reason:",
                             :mark_as_property => "reunited",
                             :mark_as_property_value => "false",
                             :mark_as_submit_label => "Undo Reunite",
                             :error_message => "Please confirm child should be marked as Not Reunited, and enter any details you have.",
                             :style => "reunited"
                 } %>
  <%end%>
</div>

<%= link_to content_tag(:span, 'Change Log', :class => 'log'), child_history_path(@child), :class=>'btn' %>

<div class="clearfix"></div>
    <% content_for :stylesheet do %>
      <%= stylesheet_link_tag "jquery.lightbox-0.5" %>
    <% end %>

    <% if @child.reunited? %>
      <div class="reunited-message"><%= reunited_message %></div>
    <% end %>
    <% if @child.flag? %>
      <h3 class="flag-message"><%= flag_message %></h3>
    <% end %>
    <% if @child.duplicate? %>
      <h3 class="duplicate-message"><%= duplicate_message %></h3>
    <% end %>
    <% unless @duplicates.empty? %>
      <h3 class="duplicate-message">Another record has been marked as a duplicate of this one. Click
      <%= link_to 'here', child_path(@duplicates.first) %> to see the duplicate record.</h3>
    <% end %>



    <div id='interviewer_details' class="filter_bar">
      <h3>Registered by: <%= @child['created_by'] %> <%= link_to_update_info(@child) %> on <%= @current_user.localize_date(@child['created_at']) %></h3>
      <% if @child['last_updated_at']%>
        <h3>Last updated: <%= @current_user.localize_date(@child['last_updated_at']) %> </h3>
    <% end %>
      <% if @child['posted_from']=="Mobile" %>
        <h3>Posted from the mobile client at: <%= @current_user.localize_date(@child['posted_at']) %> </h3>
    <% end %>
    </div>
<div class="page-content-new">
  <div class="side-tab">
    <%= render :partial => "tabs", :object => @form_sections %>
  </div>
  <div class="side-tab-content">
    <%= render :partial => "show_form_section" %>
    </div>

</div>
