<p>
  <b>Name:</b>
  <%=h @child.name %>
</p>

<p>
  <b>Age:</b>
  <%=h @child.age %>
</p>
<p>
  <b>Gender:</b>
  <%= h @child.gender %>
</p>


<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>