<%= form_for @replication, :html => { :class => 'default-form' } do |f| %>

  <%= f.error_messages :header_tag => :h3 %>
  <div class="clearfix"></div>

  <fieldset>
    <p>
      <%= f.label :description, t("replication.description"), :class => "key" %>
      <%= f.text_field :description %>
    </p>

    <p>
      <%= f.label :remote_app_url, t("replication.remote_app_url"), :class => "key" %>
      <%= f.text_field :remote_app_url %>*
    </p>
    <p>
      <%= f.label :username, t("login.username"), :class => "key" %>
      <%= f.text_field :username %>*
    </p>
    <p>
      <%= f.label :password, t("login.password.label"), :class=>'key'  %>
      <%= f.password_field :password, :autocomplete => "off" %>*
    </p>
  </fieldset>

  <div class="btn_panel">
    <%= cancel_button devices_path %>
    <%= submit_button t("buttons.save") %>
  </div>
<% end %>
