<p>
    <%= link_to 'Manage Children', children_path %>
</p>
<p>
    <%= link_to 'Manage Forms', formsections_path  %>
</p>
<p>
    <%= link_to 'Manage Users', users_path %>
</p>
<p>
    <%= link_to 'Export All Child Records to CSV', url_for(:controller=>"children", :action=>"index", :escape => false, :format=>"csv") %>
</p>
<p>
    <%= link_to 'Export Some Records to CSV', :advanced_search_children %>
</p>
	<br/>
<h4>System Settings</h4>
<p>
	<%= link_to 'Admin Contact Information', edit_contact_information_path(:administrator) %>
</p>