<h1><%= t("header.system_settings") %></h1>

  <% if can? :manage, ContactInformation %>
    <br /><p><%= link_to t("admin.contact_info"), edit_contact_information_path(:administrator) %></p>
  <% end %>

  <% if can? :highlight, Field %>
    <br /><p><%= link_to t("admin.highlight_fields"), highlight_fields_path %></p>
  <% end %>

  <%= form_tag admin_update_path, :method => "put"  do %>
      <%= label_tag "user_locale", t("home.language") %>
      <%= select_tag :locale, options_for_select([['العربية','ar'],['中文','zh'],['English', 'en'],['Français', 'fr'],['Русский', 'ru'],['Español', 'es']], I18n.default_locale) %>
        <%= submit_tag t("buttons.save") %>
  <% end %>
