<% form_id = "#{field.name}_#{direction}Form" %>
<% form_for field, :url => url, :html => {:method => :post, :id=>form_id}  do |f| %>
 	<a href="#<%=form_id%>" class="submit-form <%=direction.downcase%>-link"><%=direction%></a>
	<input type="hidden" name="field_name" value="<%=field.name%>"/>            
	<input type="submit" id="<%=field.name%>_<%=direction%>" class="direction-button" value="<%=direction%>"/>
<% end %>