 	<a href="#" class="<%=direction.downcase%>-link move<%=direction%>" id="<%=field.name%>_<%=direction%>"><img src="/images/icon-<%=direction.downcase%>-arrow.gif"></a>
	<input type='hidden' name='field_name' value='<%=field.name%>' />
