<fieldset>
  <div>
    <label class="key"><%= t("fields.display_name") %></label>
    <%= f.text_field :display_name %>
  </div>
  <div>
    <label class="key"><%= t("help_text") %></label>
    <%= f.text_area :help_text %>
  </div>
  <div>
    <label class="key"><%= t("form_section.options") %><span>(<%= t("messages.enter_each_in_one_line") %>)</span></label>
    <%= f.text_area :help_text %>
  </div>
</fieldset>