<%= error_messages_for  :form_section,
                        :header_tag => :h3,
                        :header_message => t("form_section.messages.cannot_create"),
                        :message => t('form_section.messages.correct_errors') %>
  <div class="form_details_panel">
    <%= form_for @form_section, :url => url_for_form_section(@form_section, @form), :html => {:class => ""} do |f| %>
      <div class="default_lang_panel">
        <div class="lang_title">
          <%= t("forms.initial_language") %> : <span><%= t("home.#{I18n.default_locale}") %></span>
        </div>
        <fieldset>

          <div>
            <%= f.label :name, t("name", :locale => I18n.default_locale), :class => 'key' %>
            <%= f.text_field "name_#{I18n.default_locale}", :id => "form_section_name" %>
          </div>

          <div>
            <%= f.label :description, t("description", :locale => I18n.default_locale), :class => 'key' %>
            <%= f.text_field "description_#{I18n.default_locale}", :id => "form_section_description" %>
          </div>

          <div>
            <%= f.label :help_text, t("help_text", :locale => I18n.default_locale), :class => 'key' %>
            <%= f.text_field "help_text_#{I18n.default_locale}", :id => "form_section_help_text" %>
          </div>


        </fieldset>
      </div>
      <div class="translation_lang_panel">
        <%= render :partial => "shared/add_translations", :locals => {:fields => [{:name => :text_field}, {:description => :text_field}, {:help_text => :text_field}], :f => f, :show_drop_down => true} %>
      </div>

      <div class="clearfix"></div>


      <% if not @form_section.perm_enabled? %>
          <p class="chkbox_visible">
            <%= f.label :visible, t("visible"), :class => 'key' %>
            <%= f.check_box :visible?, {}, "true", "false" %>
          </p>
      <% end %>
      <div class="btn_panel">
        <%= cancel_button(form_form_sections_path(@form.id)) %>
        <%= submit_button t("forms.save_details") %>
      </div>
    <% end %>
  </div>
