<%= error_messages_for  :form_section,
                        :header_tag => :h3,
                        :header_message => t("form_section.messages.cannot_create"),
                        :message => t('form_section.messages.correct_errors') %>
  <%= form_for @form_section, :url => url_for_form_section(@form_section), :html => {:class => ""} do |f| %>
    <div class="form_details_panel">
      <div class="default_lang_panel">
        <div class="lang_title">
          <%= t("forms.initial_language") %> : <span><%= t("home.#{I18n.locale}") %></span>
        </div>
        <fieldset>

          <div>
            <%= f.label :name, t("name"), :class => 'key' %>
            <%= f.text_field :name %>
          </div>

          <div>
            <%= f.label :description, t("description"), :class => 'key' %>
            <%= f.text_field :description %>
          </div>

          <div>
            <%= f.label :help_text, t("help_text"), :class => 'key' %>
            <%= f.text_field :help_text %>
          </div>


        </fieldset>
      </div>
      <div class="translation_lang_panel">
        <%= render :partial => "shared/add_translations", :locals => {:fields => [{:name => :text_field}, {:description => :text_field}, {:help_text => :text_field}], :f => f, :show_drop_down => true} %>
      </div>

      <div class="clearfix"></div>


      <% if not @form_section.perm_enabled? %>
          <p class="chkbox_visible">
            <%= f.label :enabled, t("visible"), :class => 'key' %>
            <%= f.check_box :enabled?, {}, true, false %>
          </p>
      <% end %>
      <div class="btn_panel">
        <%= cancel_button(form_sections_path) %>
        <%= submit_button t("forms.save_details") %>
      </div>
    </div>
  <% end %>
