<h1 class="no_border"><%= link_to t('form'),formsections_path %> &gt; <%= @form_section.unique_id%></h1>
<div class="page-content-new">
  <div class="side-tab-content full_width">
    <%= form_for @form_section, :url => form_section_path(@form_section.unique_id), :html => {:class => ""} do |f| %>

			<fieldset>
			  <h3 id='editFormDetails'><%= t("details") %></h3>
        <div id='sectionId' class='hidden'><%= @form_section.unique_id %></div>
			    <p>
			      <%= f.label :name, t("name"), :class=>'key' %>
			      <%= f.text_field :name %>
			    </p>

			    <p>
			      <%= f.label :description, t("description"), :class=>'key' %>
			      <%= f.text_field :description %>
			    </p>

			    <p>
			      <%= f.label :help_text, t("help_text"), :class=>'key' %>
			      <%= f.text_field :help_text %>
			    </p>

				<% if not @form_section.perm_enabled? %>
			      <p>
			        <%= f.label :enabled, t("visible"), :class=>'key' %>
			        <%= f.check_box :enabled?, {}, true, false %>
			      </p>
			    <% end %>

			</fieldset>
      <div class="btn_panel">
        <%= cancel_button(formsections_path) %>
        <%= submit_button t("forms.save_details") %>
      </div>
    <% end %>

    <%= form_for @form_section, :url => '/formsections/' + @form_section.unique_id + '/fields/', :html=>{:id => 'changeDirection', :method => :post} do -%>
      <input type='hidden' name='field_name' value='' id='changeDirectionFieldName'/>
      <input type='submit' id='changeDirectionSubmit' style='display:none;'/>
    <% end %>

    <%= form_for @form_section, :url => '/formsections/' + @form_section.unique_id + '/fields/delete', :html=>{:id => 'delete', :method => :post} do -%>
      <input type='hidden' name='field_name' value='' id='deleteFieldName'/>
      <input type='submit' id='deleteSubmit' style='display:none;'/>
    <% end %>

    <div class="clearfix"></div>

    <%= form_tag toggle_fields_formsection_fields_path(@form_section.unique_id), :id => 'enable_disable_fields', :method => 'post' do %>
      <table id="form_sections">
        <thead>
          <tr>
            <th></th>
            <th><%= t("form_section.visibility") %></th>
            <th><%= t("name") %></th>
            <th colspan=2><%= t("form_section.ordering") %></th>
            <th><%= t("form_section.label") %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @form_section.fields.each do |field| %>
            <tr id="<%= "#{field.name}Row" %>" class="<%= field.enabled? ? "rowEnabled" : "rowDisabled" %>">
              <% if @form_section.editable? %>
                <td>
                  <% if field.editable? %>
                    <%= check_box_tag "fields[]", field.name, false, {:id => "fields_#{field.name}"} %>
                  <% end %>
                </td>
                <td>
                  <span class="enabledStatus"><%= field.enabled? ? I18n.t("visible") : I18n.t("hidden") %></span>
                </td>
              <% end %>
              <td class='breakword'><%= field.display_name %></td>
              <% if @form_section.editable? %>
                <td>
                  <div>
                    <% if field.editable? %>
                      <a id="<%= "#{field.name}_up" %>" href="#" class="hidden moveUp"><img src="/images/icon-up-arrow.gif"></a>
                    <% end %>
                  </div>
                </td>
                <td>
                  <div>
                    <span class="updatedFormSectionOrder">
                      <%= hidden_field_tag "form_order[#{field.name}]", @form_section.field_order(field.name) %>
                    </span>
                    <% if field.editable? %>
                      <a id="<%= "#{field.name}_down" %>" href="#" class="hidden moveDown"><img src="/images/icon-down-arrow.gif"></a>
                    <% end %>
                  </div>
                </td>
                <td>
                  <div>
                    <% if field.editable? %>
                        <%= select_tag "#{field.name}_destination_form_id", options_for_select(forms_for_display, @form_section.unique_id), :class => "fieldLocation" %>
                    <% end %>
                  </div>
                </td>

                <td class='field-buttons'>
                  <% if field.editable? %>
                    <%= link_to t("buttons.edit"), edit_formsection_field_path(:formsection_id => @form_section.unique_id, :id => field.name), :id => "#{field.name}_edit" %>
                    <%= render :partial => "delete_button", :locals =>{:field=>field, :url=>delete_formsection_fields_path(@form_section.unique_id),
                       :warning=>I18n.t("messages.warning")} %> <%= hidden_field_tag "field_name" "#{field.name}"%>

                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
          <tr>
            <% if @form_section.editable? %>
              <th colspan=6><%= link_to t("form_section.actions.add_custom_field"), choose_field_path(@form_section.unique_id) %></th>
            <% else %>
              <th colspan=6><i><%= I18n.t("forms.cannot_be_edited") %></i></th>
            <% end %>
          </tr>
        </tfoot>
      </table>

      <% if @form_section.editable? %>
        <div class="formSectionButtons">
          <%= submit_tag I18n.t("form_section.hide") , {:name => "toggle_fields", :onclick => "return confirm('Are you sure you want to hide fields?')"} %>
          <%= submit_tag I18n.t("form_section.show"), {:name => "toggle_fields", :onclick => "return confirm('Are you sure you want to show fields?')"} %>
          <input type="button" name="SaveFieldOrder" value="<%= I18n.t("form_section.actions.save_order")%>" id="save_field_order"/>
        </div>
      <% end %>
    <% end %>
    <p><%= link_to t("form_section.back"), formsections_path() %></p>
  </div>
</div>
