<h1 class="no_border"><%= link_to 'Form', form_sections_path %> &gt;
  <span id='sectionId'><%= @form_section.unique_id %></span></h1>
<div class="page-content-new form_page">
<div class="side-tab-content full_width">
<%= error_messages_for  :form_section,
                        :header_tag => :h3,
                        :header_message => t("form_section.messages.cannot_create"),
                        :message => t('form_section.messages.correct_errors') %>
<%= form_for @form_section, :url => form_section_path(@form_section.unique_id), :html => {:class => ""} do |f| %>
    <div class="form_details_panel">
      <div class="default_lang_panel">
        <div class="lang_title">
          <%= t("forms.initial_language") %> : <span>English</span>
        </div>
        <fieldset>

          <div>
            <%= f.label :name, t("name"), :class => 'key' %>
            <%= f.text_field :name %>
          </div>

          <div>
            <%= f.label :description, t("description"), :class => 'key' %>
            <%= f.text_field :description %>
          </div>

          <div>
            <%= f.label :help_text, t("help_text"), :class => 'key' %>
            <%= f.text_field :help_text %>
          </div>


        </fieldset>
      </div>
      <div class="translation_lang_panel">
        <%= render :partial => "shared/add_translations", :locals => {:properties => [{:name => :text_field}, {:description => :text_field}, {:help_text => :text_field}], :f => f, :show_drop_down => true} %>
      </div>
      <div class="clearfix"></div>


      <% if not @form_section.perm_enabled? %>
          <p class="chkbox_visible">
            <%= f.label :enabled, t("visible"), :class => 'key' %>
            <%= f.check_box :enabled?, {}, true, false %>
          </p>
      <% end %>
      <div class="btn_panel">
        <%= cancel_button(form_sections_path) %>
        <%= submit_button t("forms.save_details") %>
      </div>
    </div>

      <% if @form_section.editable? %>
        <h3><%= t("fields.label") %><%= link_to t("fields.add"), "javascript:void(0)", :class => "add_field" %></h3>
      <% else %>
          <h3><i><%= I18n.t("forms.cannot_be_edited") %></i></h3>
      <% end %>

  <% end %>
    <table id="form_sections" class="list_table">
      <thead>
      <tr>
        <th><%= t("name") %></th>
        <th><%= t("help_text") %></th>
        <th><%= t("form_section.options") %></th>
        <th><%= t("fields.type") %></th>
        <th><%= t("form_section.hide") %></th>
        <th colspan=2><%= t("form_section.ordering") %></th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @form_section.fields.each do |field| %>
          <tr id="<%= "#{field.name}Row" %>" class="<%= field.visible? ? "rowEnabled" : "rowDisabled" %>">
            <td><%= field.display_name %></td>
            <td><%= field.type.try(:humanize) %></td>
            <td><%= field.option_strings.each do |option|
              option
            end %></td>
            <td><%= field.type.try(:humanize) %></td>

            <% if @form_section.editable? %>
                <td>
                  <% if field.editable? %>
                      <%= check_box_tag "fields[]", field.name, false, {:id => "fields_#{field.name}"} %>
                  <% end %>
                </td>

            <% end %>
            <% if @form_section.editable? %>
                <td>
                  <div>
                    <% if field.editable? %>
                        <a id="<%= "#{field.name}_up" %>" href="#" class="hidden moveUp"><img src="/images/icon-up-arrow.gif"></a>
                    <% end %>
                  </div>
                </td>
                <td>
                  <div>
                    <span class="updatedFormSectionOrder">
                      <%= hidden_field_tag "form_order[#{field.name}]", @form_section.field_order(field.name) %>
                    </span>
                    <% if field.editable? %>
                        <a id="<%= "#{field.name}_down" %>" href="#" class="hidden moveDown"><img src="/images/icon-down-arrow.gif"></a>
                    <% end %>
                  </div>
                </td>
                <!--<td>
                  <div>
                    <% if field.editable? %>
                        <%= select_tag "#{field.name}_destination_form_id", options_for_select(forms_for_display, @form_section.unique_id), :class => "fieldLocation" %>
                    <% end %>
                  </div>
                </td>-->

                <td class='field-buttons'>
                  <% if field.editable? %>
                      <%= link_to t("buttons.edit"), edit_form_section_field_path(:form_section_id => @form_section.unique_id, :id => field.name), :id => "#{field.name}_edit" %>
                      <%= render :partial => "form_section/delete_button", :locals => {:field => field, :url => delete_form_section_fields_path(@form_section.unique_id),
                                                                          :warning => I18n.t("messages.warning")} %> <%= hidden_field_tag "field_name" "#{field.name}" %>

                  <% end %>
                </td>
            <% end %>
          </tr>
      <% end %>
      </tbody>

      <tfoot>
      </tfoot>
    </table>

    <%= form_for @form_section, :url => '/formsections/' + @form_section.unique_id + '/fields/', :html => {:id => 'changeDirection', :method => :post} do -%>
        <input type='hidden' name='field_name' value='' id='changeDirectionFieldName'/>
        <input type='submit' id='changeDirectionSubmit' style='display:none;'/>
    <% end %>


    <div class="clearfix"></div>

    <div class="flash" id="successNotice" style="display:none;">
      <p class="notice"><%= t("form_section.messages.order_saved") %> </p><br/>
    </div>

    <div class="clearfix"></div>


<div class="field_details_overlay hide"></div>
<div class="field_details_panel hide">
  <ul class="field_types clearfix">
    <li><%= link_to t("fields.text_field"), "javascript:void(0)", :id => "text_field", :class => "field_links sel" %> </li>
    <li><%= link_to t("fields.text_area"), "javascript:void(0)", :id => "text_area", :class => "field_links" %></li>
    <li><%= link_to t("fields.check_box"), "javascript:void(0)", :id => "check_box", :class => "field_links" %></li>
    <li><%= link_to t("fields.select_box"), "javascript:void(0)", :id => "select_box", :class => "field_links" %></li>
    <li><%= link_to t("fields.radio_button"), "javascript:void(0)", :id => "radio_btn", :class => "field_links" %></li>
    <li><%= link_to t("fields.numeric_field"), "javascript:void(0)", :id => "numeric_field", :class => "field_links" %></li>
    <li><%= link_to t("fields.date_field"), "javascript:void(0)", :id => "date_field", :class => "field_links" %></li>
  </ul>
  <% @field ||= Field.new %>
  <%= error_messages_for  :field,
                          :header_tag => :h3,
                          :header_message => t("form_section.messages.cannot_create"),
                          :message => t('form_section.messages.correct_errors') %>
  <div id="field_details" class="field_details" style="display:none;">
    <%= form_for @field, :url => url_for_form_section(@form_section.unique_id, @field)  do |f| %>
        <div class="default_lang_panel">
          <div class="lang_title">
            <%= t("forms.initial_language") %> : <span>English</span>
          </div>
          <%= render :partial => 'form_section/field_form', :locals => {:f => f} %>
        </div>
        <div class="translation_lang_panel">
          <div class="lang_title">
            <%= t(:provide_translation) %>
            <span class="translation_lang_selected"></span>
          </div>
          <%= render :partial => "shared/add_translations", :locals => {:properties => [{:display_name => :text_field}, {:help_text => :text_area}], :f => f, :show_drop_down => false} %>
        </div>
        <p class="chkbox_visible">

          <%= f.label :enabled, t("visible"), :class => 'key' %>
          <%= f.check_box :visible, {}, true, false %>
        </p>
          <%= f.hidden_field :type, :class => "field_type"%>
        <div class="clearfix"></div>
        <div class="btn_panel">
          <%= link_to t("cancel"), "javascript:void(0)", :class => "link_cancel" %>
          <%= submit_button t("forms.save_details") %>
          <input type="button" value="Add" id="add_field_btn">
        </div>
    <% end %>

  </div>
  <div id="field_details_options" class="field_details" style="display:none;">
        <%= form_for @field, :url => url_for_form_section(@form_section.unique_id, @field) do |f| %>

        <div class="default_lang_panel">
          <div class="lang_title">
            <%= t("forms.initial_language") %> : <span>English</span>
          </div>
          <%= render :partial => 'form_section/field_form_multi_value', :locals => {:f => f} %>

        </div>
        <div class="translation_lang_panel">
          <div class="lang_title"><%= t(:provide_translation) %>
            <span class="translation_lang_selected"></span>
          </div>
          <%= render :partial => "shared/add_translations", :locals => {:properties => [{:display_name => :text_field}, {:help_text => :text_area}, {:option_strings_text => :text_area}], :f => f, :show_drop_down => false} %>
        </div>
        <p class="chkbox_visible">

          <label><input type="checkbox"/> Visible</label>
        </p>
        <%= f.hidden_field :type, :class => "field_type"%>
        <div class="clearfix"></div>
        <div class="btn_panel">
          <%= link_to t("cancel"), "javascript:void(0)", :class => "link_cancel" %>
          <%= submit_button t("forms.save_details") %>
          <input type="button" value="Add" id="add_field_btn">
        </div>
    <% end %>

  </div>
</div>
</div>
</div>
<script>
    var show_add_field = <%= show_add_field ||= false %>;
    var field_type = "<%= @field.type %>";
</script>