<% @page_name = 'Edit form' %>
<% form_for @form_section, :url => form_section_path(@form_section.unique_id), :html => { :class => "edit-form-section default-form" } do |f| %>

<fieldset>
  <h3>Details</h3>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :help_text %>
    <%= f.text_field :help_text %>
  </p>
    <% if not @form_section.perm_enabled? %>
        <p class="checkbox">
            <%= f.check_box :enabled?, {}, true, false %>
            <%= f.label :enabled %>
        </p>
        <% end %>
  </fieldset>
    <%= cancel_button(formsections_path) %>
    <%= submit_button 'Save Details' %>
<% end %>


<% form_tag toggle_fields_formsection_fields_path(@form_section.unique_id), :id => 'enable_disable_fields', :method => 'post' do %>
<table id="form_sections">
<thead>
  <tr>
    <th></th>
    <th>Enabled</th>
    <th>Name</th>
    <th colspan=4>Ordering</th>
  </tr>
</thead>
<tbody>
    <% @form_section.fields.each do |field| %>
    <tr id="<%="#{field.name}Row"%>" class="<%= field.enabled? ? "rowEnabled": "rowDisabled" %>">
      <% if @form_section.editable? %>
          <td>
            <%= check_box_tag "fields[]", field.name, false, { :id => "fields_#{field.name}" } %>
          </td>
          <td>
            <span class="enabledStatus"><%= field.enabled? ? "Enabled" : "Disabled" %></span>
          </td>
      <% end %>
      <td><%= field.display_name %></td>
      <%if @form_section.editable?%>
        <td>
		    <%= render :partial => "direction_button", :locals =>{:direction=>"Up", :field=>field, :url=>move_up_formsection_fields_path(@form_section.unique_id)} %>
        </td>
        <td>
		    <%= render :partial => "direction_button", :locals =>{:direction=>"Down", :field=>field, :url=>move_down_formsection_fields_path(@form_section.unique_id)} %>
        </td>
        <td class='field-buttons'>
          <%= link_to "Edit", edit_formsection_field_path(:formsection_id => @form_section.unique_id, :id => field.name) %> 
          <%= render :partial => "delete_button", :locals =>{:field=>field, 
															 :url=>delete_formsection_fields_path(@form_section.unique_id),
															 :warning=>"Warning: If you continue, any data associated with this field will be lost. 
																		If you're uncertain, disable the field instead. 
																		Click Cancel to go back. Click OK to Delete the field."
															} %>
        </td>
      <%end%>
    </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <% if @form_section.editable? %>
        <th colspan=4><%= link_to "Add Custom Field", choose_field_path(@form_section.unique_id) %></th>
      <% else %>
        <th colspan=4> <i>Fields on this form cannot be edited.</i> </th>
      <% end %>
    </tr>
  </tfoot> 
</table>

<% if @form_section.editable? %>
    <div class="formSectionButtons">
      <%= submit_tag "Disable", {:name => "toggle_fields", :onclick => "return confirm('Are you sure you want to disable fields?')"  }%>
      <%= submit_tag "Enable", {:name => "toggle_fields", :onclick => "return confirm('Are you sure you want to enable fields?')"  }%>
    </div>
<% end %>
<% end %>
<p><%= link_to "Back To Forms Page", formsections_path() %></p>
