<div class="flash" id="successNotice" style="display:none;">
         <p class="notice">Order is successfully saved. </p>
</div>
<p><%= link_to 'Create New Form Section', new_form_section_path %></p>

<% form_tag  enable_form_url, :id => 'enable_or_disable_form_section', :method => :post, :name => 'sections'  do -%>

<table id="form_sections">
<thead>
  <tr>
    <th><input type="checkbox" disabled=true /></th>
    <th>Visibility</th>
    <th>Name</th>
    <th>Description</th>
    <th colspan="3">Ordering</th>
  </tr>
</thead>
<tbody>
    <% @form_sections.each do |section| %>
      <tr id="<%= section.unique_id%>_row" class="<%= section.enabled? ? "rowEnabled": "rowDisabled" %>">
          <td>
            <% if not section.perm_enabled? %>
                <%= check_box_tag "sections[#{section.unique_id}]" %>
            <% end %>
          </td>
          <td>
	    <span class="enabledStatus <%= section.enabled? ? "tick" : "cross" %>">
              <%= section.enabled? ? "Visible" : "Hidden" %>
            </span>
          </td>
          <td><%= link_to section.name, edit_form_section_path(section), :class => "formSectionLink" %></td>
          <td><%= section.description %></td>
          <td>
            <span class="formSectionOrder"><%= section.order %></span>
            <span class="updatedFormSectionOrder">
              <%= hidden_field_tag "form_order[#{section.unique_id}]", section.order %>
            </span>            
          </td>
          <% if not section.perm_enabled? %>
            <td class="orderingColumn">
              <a id="<%= "#{section.unique_id}_up"%>"  href="#" class="hidden moveUp"><img src="/images/icon-up-arrow.gif"></a>
            </td>
            <td class="orderingColumn">
              <a id="<%= "#{section.unique_id}_down"%>" href="#" class="hidden moveDown"><img src="/images/icon-down-arrow.gif"></a>
            </td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </tr>
    <% end %>
</tbody>
</table>
<div class="formSectionButtons">
  <input type="button" name="Enable" value="Show" id="enable_form"/>
  <input type="button" name="Disable" value="Hide" id="disable_form"/>
  <input type="button" name="SaveOrder" value="Save Order" id="save_order"/>  
</div>
<div class="backLink">
  <%= link_with_confirm "Back", admin_path() %>
</div>
<% end %>
