<h2>Manage form sections</h2>

<p><%= link_to 'Create form', new_form_section_path %></p>

<% form_tag  enable_form_url, :id => 'enable_or_disable_form_section', :method => :post, :name => 'sections'  do -%>

<table id="form_sections">
<thead>
  <tr>
    <th><input type="checkbox" disabled=true /></th>
    <th>Enabled</th>
    <th>Name</th>
    <th>Description</th>
    <th colspan="3">Ordering</th>
    <th>Fields</th>
  </tr>
</thead>
<tbody>
    <% @form_sections.each do |section| %>
        <tr id="<%= section.unique_id%>_row">
          <td>
            <% if section.editable? %>
                <%= check_box_tag "sections[#{section.unique_id}]" %>
            <% end %>
          </td>
          <td>
    <span class="enabledStatus <%= section.enabled=="true" ? "tick" :"cross" %>">
        <%= section.enabled? ? "Enabled" : "Disabled" %>
        </span>
          </td>
          <td><a href="#" class="formSectionLink"><%= section.name %></a></td>
          <td><%= section.description %></td>
          <td>
            <span class="formSectionOrder"><%= section.order %></span>
            <span class="updatedFormSectionOrder">
              <%= hidden_field_tag "form_order[#{section.unique_id}]", section.order %>
            </span>            
          </td>
          <% if section.editable? %>
            <td class="orderingColumn">
              <a id="<%= "#{section.unique_id}_up"%>"  href="#" class="hidden moveUp">Up</a>
            </td>
            <td class="orderingColumn">
              <a id="<%= "#{section.unique_id}_down"%>" href="#" class="hidden moveDown">Down</a>
            </td>
            <td>
              <%= link_to "Manage Fields", formsection_fields_path(section.unique_id), :class=>'manageFieldsLink'%>
            </td>
          <% else %>
            <td></td>
            <td></td>
            <td></td>
          <% end %>
        </tr>
    <% end %>
</tbody>
</table>
<div class="formSectionButtons">
  <input type="button" name="Enable" value="Enable" id="enable_form"/>
  <input type="button" name="Disable" value="Disable" id="disable_form"/>
  <input type="button" name="SaveOrder" value="Save Order" id="save_order"/>  
</div>
<div class="backLink">
  <%= link_to "Back", admin_path() %>
</div>
<% end %>
