<script type="text/javascript">
    $(document).ready(function(){
        $("#all").click(function()
        {
            var checked_status = this.checked;
            checkToggle(checked_status);
            $("#form_sections tbody input[type=checkbox]").attr("checked", checked_status);
        });

    });
    function checkToggle(checkStatus){
        $("#form_sections tbody input[type=checkbox]").each(function()
        {
            this.checked = checkStatus;
        });
    }
</script>
<h1 class="no_border float_left">Forms</h1>
<%= link_to content_tag(:span,'Create New Form Section',:class=>'create_user') , new_form_section_path, :class=>'btn' %>
<div class="clearfix"></div>
<div class="page-content-new">
  <div class="side-tab-content full_width">
<div class="flash" id="successNotice" style="display:none;">
         <p class="notice">Order is successfully saved. </p>
</div>
<p></p>

<%= form_tag enable_form_url, :id => 'enable_or_disable_form_section', :method => :post, :name => 'sections'  do -%>

<table id="form_sections" class="list_table">
<thead>
  <tr>
    <th><input type="checkbox" id="all" /></th>
    <th>Visibility</th>
    <th>Name</th>
    <th>Description</th>
    <th colspan="3">Ordering</th>
  </tr>
</thead>
<tbody>
    <% @form_sections.each do |section| %>
      <tr id="<%= section.unique_id%>_row" class="<%= section.enabled? ? "rowEnabled": "rowDisabled" %>">
          <td>
            <% if not section.perm_enabled? %>
                 <%= check_box_tag "sections[#{section.unique_id}]", 'form_section_check_box' %>
            <% end %>
          </td>
          <td>
	    <span class="enabledStatus <%= section.enabled? ? "tick" : "cross" %>">
              <%= section.enabled? ? "Visible" : "Hidden" %>
            </span>
          </td>
          <td><%= link_to section.name, edit_form_section_path(section), :class => "formSectionLink" %></td>
          <td><%= section.description %></td>
          <td>
            <span class="formSectionOrder"><%= section.order %></span>
            <span class="updatedFormSectionOrder">
              <%= hidden_field_tag "form_order[#{section.unique_id}]", section.order %>
            </span>            
          </td>
          <% if not section.perm_enabled? %>
            <td class="orderingColumn">
              <a id="<%= "#{section.unique_id}_up"%>"  href="#" class="hidden moveUp"><img src="/images/icon-up-arrow.gif"></a>
            </td>
            <td class="orderingColumn">
              <a id="<%= "#{section.unique_id}_down"%>" href="#" class="hidden moveDown"><img src="/images/icon-down-arrow.gif"></a>
            </td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </tr>
    <% end %>
</tbody>
</table>
<div class="formSectionButtons">
  <input type="submit" name="Enable" value="Show" id="enable_form" class="btn"/>
  <input type="submit" name="Disable" value="Hide" id="disable_form" class="btn"/>
  <input type="submit" name="SaveOrder" value="Save Order" id="save_order" class="btn" />
</div>
<div class="backLink">
  <%= link_with_confirm "Back", admin_path() %>
</div>
<% end %>
</div>
    </div>