<h2>Manage form sections</h2>

<p><%= link_to 'Create form', new_form_section_path %></p>

<% form_tag  enable_form_url, :id => 'enable_or_disable_form_section', :method => :post, :name => 'sections'  do -%>

    <table id="form_sections">
      <thead>
      <tr>
        <th><input type="checkbox" disabled='true'/></th>
        <th>Enabled</th>
        <th>Name</th>
        <th>Description</th>
        <th>Ordering</th>
        <th>Fields</th>
      </tr>
      </thead>
      <tbody>

      <% @form_sections.each do |section| %>

          <tr id="<%= section.unique_id %>_row">
            <td>
              <%= check_box_tag "sections[#{section.unique_id}]" %>
            </td>
            <td>
      <span class="enabledStatus <%= section.enabled=="true" ? "tick" :"cross" %>">
          <%= section.enabled? ? "Enabled" : "Disabled" %>
          </span>
            </td>
            <td><a href="#" class="formSectionLink"><%= section.name %></a></td>
            <td><%= section.description %></td>
            <td><span class="formSectionOrder"><%= section.order %></span></td>
            <td>
              <% if section.editable? %>
                  <%= link_to "Manage Fields", formsection_fields_path(section.unique_id), :class=>'manageFieldsLink' %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <input type="button" name="Enable" value="Enable" id="enable_form"/>
    <input type="button" name="Disable" value="Disable" id="disable_form"/>
<% end -%>

<p><%= link_to "Back", admin_path() %></p>
