<h1 class="no_border">Forms</h1>
<div class="page-content-new">
  <div class="side-tab-content full_width">
<div><%= t("forms.messages.use_existing") %></div>

<%= error_messages_for  :form_section,
                        :header_tag => :h3,
                        :header_message => t("form_section.messages.cannot_create"),
                        :message => t('form_section.messages.correct_errors') %>

<%= form_for @form_section, :url => formsections_path, :html => {:method => :post, :class => ""}  do |f| %>
  <fieldset>
    <h3><%= t("form_section.details") %></h3>
    <p>
      <%= f.label :name, t("name"), :class=>'key' %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description, t("description"), :class=>'key' %>
      <%= f.text_field :description %>
    </p>
    <p>
      <%= f.label :help_text, t("help_text"), :class=>'key' %>
      <%= f.text_field :help_text %>
    </p>
    <p class="checkbox">
      <%= f.label :enabled, t("visible"), :class=>'key' %>
      <%= f.check_box :enabled, {:checked => true}, :true, :false %>

    </p>
  </fieldset>
  <br />
        <div class="translation">
          <label><%= t(:provide_translation) %></label>
          <%= select_tag("locale", options_for_select(RapidFTR::Application::LOCALES_WITH_DESCRIPTION.select { |option| option[1] != I18n.default_locale.to_s })) %>
          <br>
          <% RapidFTR::Application::LOCALES.each do |locale| %>
              <% if I18n.default_locale.to_s != locale %>
                  <div class="<%= "translation_forms #{locale}"%> hide">
                    <fieldset>
                      <label class="label"><%= t(:name, :scope => :field) %></label>
                      <%= f.text_field "name_#{locale}".to_sym %><br>
                      <label class="label"><%= t(:help_text) %></label>
                      <%= f.text_field "help_text_#{locale}".to_sym %><br>
                      <label class="label"><%= t(:description) %></label>
                      <%= f.text_field "description_#{locale}".to_sym %><br>
                    </fieldset>
                  </div>
              <% end %>
          <% end %>
        </div>

        <div class="btn_panel">
    <%= cancel_button formsections_path %>
    <%= submit_button t("forms.save") %>
  </div>
<% end %>
      </div>
    </div>