<h2><%= t("child.duplicate_header", :child_name => @child.name) %></h2>

<div class="page-content-new">
  <div class="side-tab-content full_width">

    <%= error_messages_for @child %>
    <%= render :partial => "children/summary_row", :object => @child, :as => :child, :locals => { :checkbox => false, :show_links => false } %>

    <%= form_tag child_duplicate_path(@child), :method => :post do %>
      <%= label_tag(:parent_id,t("child.id_of_record_this_duplicate_of")) %>
      <%= text_field_tag(:parent_id) %>

      <br /><br />
      <div class="btn_panel">
        <%= link_to "Cancel", :back %>
        <%= submit_tag("Mark as duplicate", :confirm => 'Are you sure you want to continue? If so, click OK. If not, click Cancel.') %>
      </div>
    <% end %>
  </div>
</div>
