<h1><%= t("child.duplicate_header", :child_name => @child.short_id) %></h1>

<div class="child_list">

  <br />

  <div class="filter-bar">
    <%= error_messages_for @child %>

    <%= form_tag child_duplicate_path(@child), :method => :post do %>
      <%= label_tag(:parent_id,t("child.id_of_record_this_duplicate_of")) %>
      <%= text_field_tag(:parent_id) %>

      <br />
      <div class="btn_panel">
        <%= link_to t("child.actions.cancel"), children_path %>
        <%= submit_tag(t("child.mark_as_duplicate"), data: { confirm: t("child.messages.confirm_duplicate") }) %>
      </div>
    <% end %>
  </div>

    <% #Change me!
    <%= render :partial => "children/summary_row", :object => @child, :as => :child, :locals => { :checkbox => false, :show_links => false, :highlighted_fields => @sorted_highlighted_fields } %>

</div>
