<h2>Marking <%=@child.name%> as Duplicate</h2>

<%= render :partial => "children/summary_row", :object => @child, :locals => { :checkbox => false, :show_links => false } %>

<%= form_tag child_duplicate_path(@child), :method => :post, :class => 'default-form' do %>
  <p>
    <span class="tool-tip-label">
      <%= label_tag(:parent_id, "Enter the Record ID of the Original Record:") %>
      <img class="tool-tip-icon vtip" title="The record you have chosen as a duplicate will be linked to this Original Record and removed from the search and view pages." src="/images/tool_tip_icon.gif"/>
    </span>

    <span>
      <%= text_field_tag(:parent_id) %>

      <%= content_tag(:span, :class => 'submitButton') do %>
        <%= submit_tag("Mark as duplicate", :confirm => 'Are you sure you want to continue? If so, click OK. If not, click Cancel.') %>
      <% end %>
    </span>

  </p>
<% end %>
