<fieldset>  
  <h3>Devices</h3>  
  <table class="devices">
    <thead>
      <tr>
        <th>IMEI</th>
        <th>Blacklisted?</th>
      </tr>
    </thead>
    <tbody>
      <% devices.each do |device| %>
        <tr id='device-imei-<%= device.imei %>'>
          <td>
            <%= device.imei %>
          </td>
          <td>
            <%= hidden_field_tag "user[devices][][imei]", device.imei %>
            <%= hidden_field_tag "user[devices][][user_name]", device.user_name %>
            <%= check_box_tag "user[devices][][blacklisted]", true, device.blacklisted?, :class => "blacklisted-checkbox-#{device.imei}" %>
          </td>          
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
