<script type="text/javascript" charset="utf-8">

    function confirmBlacklisted() {
        $(".devices :checkbox").each(function () {
            if (this.checked && !this.defaultChecked)
                return confirm('Are you sure you want to disable this device?');
        });
        return true;
    }

    function confirmDisable() {
        var checkbox = $("#user_disabled")[0];
        if (checkbox.checked && !checkbox.defaultChecked) {
            return confirm('Are you sure you want to disable this user?');
        }
        return true;
    }

    $(document).ready(function () {
        $("form").submit(function () {
            return (confirmDisable() && confirmBlacklisted());
        });
    });
</script>

<%= form_for editable_user, :html => {:class => ''} do |f| %>
    <%= f.error_messages :header_tag => :h3 %>
    <% trying_to_edit_ourself = editing_ourself?(editable_user) %>


    <div class="mandate_panel"><span>*</span> marked fields are mandatory</div>
    <div class="clearfix"></div>
    <fieldset>
    <p>
      <%= f.label :full_name, "Full name", :class=>'key' %>
      <%= f.text_field :full_name, :autocomplete => "off"%>*
    </p>

    <p>
      <%= f.label :user_name, :class=>'key'  %>
      <%= f.text_field :user_name, :disabled => !editable_user.new_record?, :autocomplete => "off" %>*
      <span class="footnote">user name should not contain blanks</span>
    </p>

    <p>
      <%= f.label :password, :class=>'key'  %>
      <%= f.password_field :password, :autocomplete => "off" %>*
    </p>

    <p>
      <%= f.label :password_confirmation,"Re-enter password", :class=>'key'  %>
      <%= f.password_field :password_confirmation, :autocomplete => "off" %>*
    </p>

    <% if !trying_to_edit_ourself %>
      <p>
        <label class="key">Roles</label>
      <% @roles.each do |role| %>
        <%= f.check_box :role_ids, {:id => "user_#{role.name}", :name => "user[role_ids][]"}, role.id, "" %>
          <%= f.label role.name %>
      <% end %>
      </p>
    <% end %>

    <p>
      <%= f.label :phone, :class=>'key'  %>
      <%= f.text_field :phone %>
    </p>
    <p>
      <%= f.label :email, :class=>'key'  %>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :organisation, :class=>'key'  %>
      <%= f.text_field :organisation %>*
    </p>

    <p>
      <%= f.label :position, :class=>'key'  %>
      <%= f.text_field :position %>
    </p>

    <p>
      <%= f.label :location, :class=>'key'  %>
      <%= f.text_field :location %>
    </p>

    <% if !trying_to_edit_ourself && can?(:disable, @user) %>
        <p>
          <%= f.label :disabled, "Disabled?", :class=>'key' %>
          <%= f.check_box :disabled, {}, "true", "false" %>
        </p>
    <% end %>

    </fieldset>

    <div class="btn_panel">
    <!--TODO: After we got the user object in the session replace the DB query with User object-->
      <%= cancel_button(users_path) %>
      <%= submit_button(editable_user.new_record? ? 'Create' : 'Update') %>
    </div>
<% end %>
