<div class="device-information">
    <h3><%= I18n.t("device.information") %></h3>
    <table>
      <tr>
          <th><%= I18n.t("device.timestamp") %></th>
          <th><%= I18n.t("imei") %></th>
          <th><%= I18n.t("device.mobile_number") %></th>
      </tr>


    <% @user.mobile_login_history.reverse.each do |event| %>
      <tr>
        <td><%= event[:timestamp].in_time_zone(@user.time_zone) %></td>
        <td><%= event[:imei] %></td>
        <td><%= event[:mobile_number] %></td>
      </tr>
    <% end %>

    </table>

</div>