<tr id="user-row-<%= user.user_name %>">
  <td class="full_name"><%= h user.full_name %></td>
  <td class="user-name"><%= h user.user_name %></td>

  <% if can?(:disable, user) %>
      <td class="user-status">
        <%= render :partial => 'user_disabled_checkbox', :locals => {:user => user} %>
      </td>
  <% end %>
  <% if can? :show, User %>
      <td><%= link_to 'Show', user %></td>
  <% end %>
  <% if can? :edit, User %>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
  <% end %>
  <% if can? :destroy, User %>
      <td>
        <% if current_user_name != user.user_name %>
            <%= link_to 'Delete', user, :confirm => 'Are you sure you want to delete this user? Deletion can not be undone. Click OK To Delete User.', :method => :delete %></td>
        <% end %>
  <% end %>
  </td>
</tr>
