<h1 class="no_border">Change Password</h1>
<div class="page-content-new">

  <div class="side-tab-content full_width">

    <%= form_for @change_password_request, :url => update_password_users_path, :html => { :class => '' } do |f| %>
      <%= f.error_messages :header_tag => :h3 %>
      <% @change_password_request.errors.clear %>

      <fieldset>
        <p>
          <%= f.label :old_password, "Old password", :class => 'key' %>
          <%= f.password_field :old_password %>
        </p>

        <p>
          <%= f.label :new_password, "New password", :class => 'key' %>
          <%= f.password_field :new_password %>
        </p>

        <p>
          <%= f.label :new_password_confirmation, "Confirm password", :class => 'key' %>
          <%= f.password_field :new_password_confirmation %>
        </p>
      </fieldset>

      <div class="btn_panel">
        <%= submit_button "Save" %>
      </div>

    <% end %>

  </div>

</div>