<h1 class="no_border"><%= t("users.manage") %></h1>
<div class="page-content-new">
  <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => 'users'} %>
  <div class="side-tab-content">
    <div><h2><%= link_to I18n.t("users.label"), users_path %> &gt; <%= @user.user_name %></h2></div>
    <%= render :partial => "editable_user", :object => @user %>
    <%= render :partial => "mobile_login_history", :object => @user %>
  </div>
</div>
