<h1 class="no_border"><%= t("users.account_details") %></h1>
<div class="page-content-new">
  <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => ''} %>
  <div class="side-tab-content">
    <h2 class="float_left no_border"><%= link_to(I18n.t("users.label"), users_path) + " > " if can?(:read, User)%>  <%= @user.user_name %>
      <% if can? :edit, User %>
          <%= link_to '('+I18n.t("buttons.edit")+')', edit_user_path(@user), :class => 'edit_crumb'%>
        <% else %>
          <%=	link_to "(" + I18n.t("buttons.change_password") +")", change_password_users_path %>
      <% end %>
    </h2>
    <%= link_to content_tag(:span, t("user.user_action_history") , :class => 'log'), user_history_path(@user), :class=>'btn' %>
    <div class="clearfix"></div>

    <fieldset>
      <p>
        <label class="key"><%= t("name") %>:</label>
        <%= h @user.full_name %>
      </p>

      <p>
        <label class="key"><%= t("login.username")%>:</label>
        <%= h @user.user_name %>
      </p>

      <p>
        <label class="key"><%= t("permissions.label") %></label>
        <%= @user.roles.map(&:name).join(",") %>
      </p>

      <p>
        <label class="key"><%= t("contact.field.phone") %>:</label>
        <%= h @user.phone %>
      </p>

      <p>
        <label class="key"><%= t("email") %>:</label>
        <%= h @user.email %>
      </p>

      <p>
        <label class="key"><%= t("organisation") %>:</label>
        <%= h @user.organisation %>
      </p>

      <p>
        <label class="key"><%= t("position") %>:</label>
        <%= h @user.position %>
      </p>

      <p>
        <label class="key"><%= t("location") %>:</label>
        <%= h @user.location %>
      </p>

      <p>
        <label class="key"><%= t("status") %>:</label>
        <%= h @user.disabled ? t("user.disabled") : t("enabled") %>
      </p>

      <p>
        <label class="key"><%= t("user.share_contact_info") %>:</label>
	<%= h t(@user.share_contact_info.to_s) %>
      </p>

      <p>
        <label><%= t("devices") %>:</label><br/>
        <% @user.devices.each do |device| %>
            <% if device.blacklisted? %>
                <span class='device-blacklisted'><%= device.imei %> (blacklisted)</span><br/>
            <% else %>
                <%= device.imei %> <br/>
            <% end %>
        <% end %>
      </p>

    </fieldset>
    <%= render :partial => "mobile_login_history", :object => @user %>
  </div>
</div>
