<%= error_messages_for :password_recovery_request %>

<%= form_for @password_recovery_request, :class => "default-form" do |form| %>
  <p>
    <%= form.label :user_name, "Enter your user name" %>
  </p>
  <p>
    <%= form.text_field :user_name %>
  </p>
  <p>
    <%= form.submit "Request Password" %>
  </p>
  <p>
    If you don't remember your user name, just enter any name and information an administrator can use to identify and contact you.
  </p>

<% end %>
