<%= form_tag standard_forms_path %>
  <p><h1>Enquiries Form</h1></p>
  <% @forms[:enquiry].each do |fs|%>
    <p><h2>
      <%= check_box_tag("enquiry_form_sections[]",fs.unique_id) %>
      <%= label_tag(fs.name.strip) %>
    </h2></p> <br/>
    <ul>
    <% fs.fields.each do |field| %>
      <li>
      <%= check_box_tag("#{fs.unique_id}[]",field.name) %>
      <%= label_tag(field.display_name.strip) %>
      </li>
    <% end %>
    </ul>
  <% end %>

  <p><h1>Children Form</h1></p>
  <% @forms[:child].each do |fs|%>
    <p><h2>
      <%= check_box_tag("child_form_sections[]",fs.unique_id) %>
      <%= label_tag(fs.name.strip) %>
    </h2></p> <br/>
    <ul>
    <% fs.fields.each do |field| %>
      <li>
      <%= check_box_tag("#{fs.unique_id}[]", field.name) %>
      <%= label_tag(field.display_name.strip) %>
      </li>
    <% end %>
    </ul>
  <% end %>
