<%= form_for(:default_forms, url: standard_forms_path) do |f|%>
  <ul id="form-checkboxes">
    <% #@default_forms.forms.each do |form| %>
      <%= f.fields_for :forms do |ff| %>
        <li>
          <h1>
            <%= ff.check_box :id, { checked: form.disabled } %>
            <%= ff.label :name %>
          <h1>
          <ul>
            <% #form.sections.each do |section| %>
              <%= ff.fields_for :sections do |ffs| %>
                <li>
                  <h2>
                    <%= ffs.check_box :id, { checked: section.disabled } %>
                    <%= ffs.label :name %>
                  <h2>
                  <ul>
                    <% #section.fields.each do |field| %>
                      <%= ffs.fields_for :fields do |ffsf| %>
                        <li>
                          <%= ffsf.check_box :id, { checked: field.disabled } %>
                          <%= ffsf.label :name %>
                        </li>
                      <% end %>
                    <% #end %>
                  </ul>
                </li>
              <% end %>
            <% #end %>
          </ul>
        </li>
      <% end %>
    <% #end %>
  <ul>

  <%= f.submit t('buttons.save') %>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#form-checkboxes').bonsai({
      expandAll: true,
      checkboxes: true
    });

    $('input[type="checkbox"]').each(function(index, el) {
      $(el).click(function() {
        var parentListElements = $(this).parents('li:first').parents('li');
        parentListElements.each(function (index, listElement) {
          var parentCheckBox = $($(listElement).find('input:first'));
          if(parentCheckBox && !parentCheckBox.prop('checked')) {
            parentCheckBox.prop('checked', true);
          }
        });
      });
    });
  });
<% end %>

