<div class="form-fields-container hide">
  <div class="criteria_menu">
  <div class='box-shadow content'>
          <a class="close-link" style="float:right;margin-left:6px;">
            <img src="/images/dialog-close.png?1353996373" alt="Dialog-close">
          </a>

    <ul class="forms">
        <% FormSection.enabled_by_order.each do|form| %>
          <li id="form-<%= form.id%>" class="form">
            <%= form.name %>
          </li>
        <%end%> 
    </ul>
      <% @forms.each do|form|%>
        <ul id="fields-for-form-<%= form.id%>" class="fields" data-id="<%= form.unique_id %>">
          <% form.fields.each do |field| %>
              <% if field.enabled? %>
                <li id="field-<%= field.name%>">
                  <span class="field-display-name"><%= field.display_name%></span>
                  <input type="hidden" class="field-name" value="<%= field.name%>"/>
                  <input type="hidden" class="display-name" value="<%= field.display_name%>"/>
                </li>
              <% end %>

          <%end%>
        </ul>
      <%end%>
  <div>
</div>

<script>

        $(".add_field").click(function(){
            $(".form-fields-container").toggleClass("hide");
        });

        $("ul.forms li").click(function(){
            $("ul.forms li").removeClass("selected");
            $(this).addClass("selected");
            var item = $(this).attr("id");
            var list = "fields-for-" + item;
            $("ul.fields").removeClass("selected");
            $("#" + list).addClass("selected");

        });

        $(".close-link").click(function(){
            $(".form-fields-container").addClass("hide");
        });

        $("ul.fields li span").click(function() {
          field_container = $(this).parents("li");
          form_container = $(this).parents("ul");

          updateWithSelectedItem({
            field_name: field_container.find("input.field-name").val(),
            form_id : form_container.data("id")
          });
        });
</script>
 </div>
    </div>
    </div>