<div class="form-fields-container hide">
  <div class="criteria_menu">
  <div class='box-shadow content'>
          <a class="close-link" style="float:right;margin-left:6px;">
            <img src="/images/dialog-close.png?1353996373" alt="Dialog-close">
          </a>

    <ul class="forms">
        <% FormSection.enabled_by_order.each do|form| %>
          <li id="form-<%= form.id%>" class="form">
            <%= form.name %>
          </li>
        <%end%> 
    </ul>
      <% @forms.each do|form|%>
        <ul id="fields-for-form-<%= form.id%>" class="fields" data-id="<%= form.unique_id %>">
          <% form.fields.each do |field| %>
              <% if field.visible? %>
                <li id="field-<%= field.name%>" data-name="<%= field.name %>"><%= field.display_name %></li>
              <% end %>

          <%end%>
        </ul>
      <%end%>
  <div>
</div>

<script>

        $(".add_field").click(function(){
            $(".form-fields-container").toggleClass("hide");
        });

        $("ul.forms li").click(function(){
            $("ul.forms li").removeClass("selected");
            $(this).addClass("selected");
            var item = $(this).attr("id");
            var list = "fields-for-" + item;
            $("ul.fields").removeClass("selected");
            $("#" + list).addClass("selected");

        });

        $(".close-link").click(function(){
            $(".form-fields-container").addClass("hide");
        });

        $("ul.fields li").click(function() {
          updateWithSelectedItem({
            field_name: $(this).data("name"),
            form_id : $(this).parents("ul").data("id")
          });
        });
</script>
 </div>
    </div>
    </div>