<div class="form-fields-container hide">
  <div class="criteria_menu">
  <a class='close-link'><%= image_tag("dialog-close.png") %></a>
  <div class='box-shadow content'>

      <% @form_sections.each do|form|%>
        <ul id="fields-for-form-<%= form.id%>" class="fields" data-id="<%= form.unique_id %>">
          <% form.fields.each do |field| %>
              <% if field.visible? %>
                <li id="field-<%= field.name%>" data-name="<%= field.name %>"><%= field.display_name %></li>
              <% end %>

          <%end%>
        </ul>
      <%end%>

    <ul class="forms">
        <% @form_sections.each do|form| %>
          <li id="form-<%= form.id%>" class="form">
            <%= form.name %>
          </li>
        <%end%>
    </ul>
  <div>
</div>

<script>

        $("ul.forms li:first, ul.fields:first").addClass('selected');

        $(".add_field").click(function(){
            $(".form-fields-container").toggleClass("hide");
        });

        $("ul.forms li").click(function(){
            $("ul.forms li").removeClass("selected");
            $(this).addClass("selected");
            var item = $(this).attr("id");
            var list = "fields-for-" + item;
            $("ul.fields").removeClass("selected");
            $("#" + list).addClass("selected");

        });

        $(".close-link").click(function(){
            $(".form-fields-container").addClass("hide");
        });

        $("ul.fields li").click(function() {
          var form_id = $(this).parents("ul").attr("data-id");
          var name = $(this).data("name");
          updateWithSelectedItem({
            field_name: name,
            form_id : form_id
          });
        });
</script>
 </div>
    </div>
    </div>
