<div class="links">

  <% unless current_user.nil? %>

    Welcome <%= current_user.user_name %>, 
    <%= link_with_confirm 'Logout', logout_path %> | 
    <%= link_with_confirm 'My Account', user_path(current_user.id) %> |

    <% if can?(:manage, ContactInformation) or can?(:manage, FormSection) %>
      <%= link_to 'System settings', admin_path %> |
    <% end %>
  <% end %>

  <%= link_with_confirm 'Contact & Help', contact_information_path("administrator") %>

</div>
