<p id="<%= radio_button.display_name.downcase.gsub(" ", "")%>">
    <span class="tool-tip-label">
        <label class='key'><%= t(radio_button.name , :default => radio_button.display_name)  %></label>
    </span>


    <% radio_button.options.each do |option| %>
          <%= radio_button_tag radio_button.tag_name_attribute(model), option.option_name, option.option_name == model[radio_button.name] %>
          <%= label_tag option.tag_id(model), option.option_name %>
    <% end %>

  <%= image_tag "new/icon_help.png", title: radio_button.help_text, class: 'tool-tip-icon vtip' if radio_button.help_text.present? %>
</p>

