<div class="profile-image">
  <% unless model.photos.blank? %>
      <div class='image'>
      <%= link_to(
            image_tag(
              resized_photo_path(model.class.name,
                                 model.id,
                                 model.primary_photo_id,
                                 328),
              :alt => 'Profile Image'), 
            resized_photo_path(model.class.name,
                               model.id,
                               model.primary_photo_id,
                               640))%>
        <p class='view-full-size'><%= t("child.messages.see_full_size") %> </p>
      </div>
      <% if can? :edit, model %>
          <%= link_to(t("child.edit_photo"), edit_photo_url(model), :class=>"edit_photo") %>
          <%= link_to(t("child.manage_photos"), manage_photos_path(model.class.name.downcase, model.id), :class=>"manage_photo") %>
      <% end %>
  <% else %>
      <%= image_tag('no_photo_clip.jpg') %>
  <% end %>
</div>
