<% 
prefixed_message = message.present? ? ' because: '  + message : ''
%>
<li>
    <% if to_value == 'true' %>
        <%= datetime %> Record was flagged by <%= user_name %> <%= prefixed_message%>
    <% else %>
        <%= datetime %> Record was unflagged by <%= user_name %> <%= prefixed_message%>
    <% end %>
</li>