<li>
    <% if to_value == 'true' %>
        <%= datetime %> Record was flagged by <%= user_name %> belonging to <%= organisation %> because: <%= message%>
    <% else %>
        <%= datetime %> Record was unflagged by <%= user_name %> belonging to <%= organisation %> because: <%= message%>
    <% end %>
</li>
