<li>
  <div>
	<%= datetime %> 
	<% if from_value.blank? %>
        Photo <%= link_to_photo_with_key(to_value) %> added by <%= user_name %>
    <% else %>
        Photo changed from <%= link_to_photo_with_key(from_value) %> to <%= link_to_photo_with_key(to_value) %> by <%= user_name %>
	<%end%>
  </div>
</li>

