<li>
    <% if to_value == 'true' %>
      <%= datetime %> Child status changed to reunited by <%= user_name %> with these details: <%= message %>
    <% else %>
      <%= datetime %> Child status changed to active by <%= user_name %> with these details: <%= message %>
    <% end %>
</li>
