<h1><%= I18n.t("contact.info_label") %></h1>
<div class="contact_info_page">
<div><%= t("contact.message") %></div>

     <%= show_contact_field :name %>
     <%= show_contact_field :position %>
     <%= show_contact_field :organization %>
     <%= show_contact_field :email %>
     <%= show_contact_field :phone %>
     <%= show_contact_field :location %>

     <%= show_contact_field :other_information %>
</div>