<% @page_name = "Administrator Contact Information" %>
<p>If you experience any problems with RapidFTR, or believe your password has been exposed, please contact the system administrator immediately.</p>
     <%= show_contact_field :name %>
     <%= show_contact_field :organization %>
     <%= show_contact_field :email %>
     <%= show_contact_field :phone %>
     <%= show_contact_field :location %>

     <%= show_contact_field :other_information %>
