<%= javascript_include_tag "json2.js" %>
<%= javascript_include_tag "underscore.js" %>
<%= javascript_include_tag "backbone.js" %>
<%= javascript_include_tag "manage_photos.js" %>

<%= stylesheet_link_tag "manage_photos.css" %>

<script type="text/template" id="photo-template">
  <div class="thumbnail">
    <image src="{{ thumbnail_url }}" />
  </div>
</script>


<script type="text/javascript">
  $(function() {
      window.Photos.refresh(<%= @photos_details.to_json %>);
  });
</script>

<div class="profile-tools">
  <li class="back"><%= link_to 'Back to child', child_path(@child) %></li>
</div>

<div class="thumbnails"></div>


