<h1>Advanced Search</h1>
<div class='advanced-search'>
  <div class="flash">
    <div class="error" style="display:none"></div>
  </div>

  <form action="index">

    <div class='criteria_menu' style='display:none;'>
      <a class='close-link'><%= image_tag("dialog-close.png") %></a>
      <div class='box-shadow content'>

        <% @all_fields = [] %>
        <% @forms.each do |form| %>
            <ul id="<%= form.unique_id %>_form_fields" class="fields">

              <% form.all_searchable_fields.each do |field| %>
                  <% @all_fields << field %>
                  <% if field.visible? %>
                      <li>
                        <a><%= t(field.name, :default => field.display_name) %></a>
                        <input type="hidden" class="field" value='<%= field.name %>'/>
                        <input type="hidden" class="field_type" value='<%= field.type %>'/>
                        <% if field.type == Field::SELECT_BOX %>
                            <input type="hidden" class="option_values" value='<%= field.option_strings.join(",") %>'/>
                        <% end %>
                      </li>
                  <% end %>
              <% end %>
            </ul>
        <% end %>

        <ul class='forms'>
          <% @forms.each do |form| %>
              <li id="<%= form.unique_id %>_form"><%= form.name %> <%= form.visible? ? "" : "(Disabled)" %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <script id="criteria_template" type="text/x-jquery-tmpl">
      {{if index < CriteriaTemplateHelper.SEARCH_FILTER_START_INDEX}}
      <p class='criterion-selected'>
        {{if index > 0}}
        <input type='radio' name='criteria_list[${index}][join]' id='criteria_join_and' ${CriteriaTemplateHelper.andRadioSelected(join)}
        value='AND' /><label for='criteria_join_and'>And</label>
        <input type='radio' name='criteria_list[${index}][join]' id='criteria_join_or' ${CriteriaTemplateHelper.orRadioSelected(join)}
        value='OR' /><label for='criteria_join_or'>Or</label>
        {{/if}}

        <a class='select-criteria'>${CriteriaTemplateHelper.link(field_display_name) }</a>
        <input type='hidden' name="criteria_list[${index}][field]" value="${field}" class="criteria-field"/>
        <input type='hidden' name="criteria_list[${index}][field_type]" value="${field}" class="criteria-field-type"/>
        <span class="criteria-values"></span>
        <input type='hidden' name="criteria_list[${index}][index]" value="${index}" class="criteria-index"/>
        <a class='remove-criteria'> <%= t("fields.remove") %> </a>
      </p>
      {{/if}}
    </script>
    <div class="help-text"><%= t("advanced_search.instruction") %></div>
    <div class="help-text">
      <%= t("advanced_search.date_instruction") %>
    </div>
    <div class="criteria-list">
      <p>
        <%= label_tag(:created_by_organisation_value, t("advanced_search.created_by_org"), :class => "userlabels") %>
        <%= text_field_tag(:created_by_organisation_value, params[:created_by_organisation_value]) %>
      </p>

      <p>
        <%= label_tag(:created_by_label, t("advanced_search.created_by"), :class => "userlabels") %>
        <%= text_field_tag(:created_by_value, params[:created_by_value]) %>
      </p>

      <p>
        <%= label_tag(:updated_by_label, t("advanced_search.updated_by"), :class => "userlabels") %>
        <%= text_field_tag(:updated_by_value, params[:updated_by_value]) %>
      </p>

      <p>
        <%= label_tag(:created_at_label, t("advanced_search.date_created"), :class => "userlabels") %>
        <%= label_tag(:created_at_after_label, t("advanced_search.after"), :class => "sub_label") %>
        <%= text_field_tag(:created_at_after_value, params[:created_at_after_value], :size => 12, :class => "datepicker") %>
        <%= label_tag(:created_at_before_label, t("advanced_search.before"), :class => "sub_label") %>
        <%= text_field_tag(:created_at_before_value, params[:created_at_before_value], :size => 12, :class => "datepicker") %>
      </p>

      <p>
        <%= label_tag(:updated_at_label, t("advanced_search.date_updated"), :class => "userlabels") %>
        <%= label_tag(:updated_at_after_label, t("advanced_search.after"), :class => "sub_label") %>
        <%= text_field_tag(:updated_at_after_value, params[:updated_at_after_value], :size => 12, :class => "datepicker") %>
        <%= label_tag(:updated_at_before_label, t("advanced_search.before"), :class => "sub_label") %>
        <%= text_field_tag(:updated_at_before_value, params[:updated_at_before_value], :size => 12, :class => "datepicker") %>
      </p>

      <%= @search_form.criteria.map { |criteria| generate_html(criteria, @all_fields) }.join("").html_safe %>
    </div>

    <a class='add-criteria'><%= t("advanced_search.select_a_criteria") %></a>

    <div class="profiles" style="float:right">
      <input type='button' id="reset" value="<%= t("clear") %>"/>
      <input type='submit' value="<%= t("search") %>"/>
    </div>
  </form>


</div>

<% if @results && @results.size > 0 %>
  <%= render :partial => 'children/search_results' %>
<% else %>
    <%= t("advanced_search.records_found", :count => 0) %>
<% end %>

<script>

  CriteriaTemplateHelper = {}
  CriteriaTemplateHelper.andRadioSelected = function(join) { return join == "AND" ? "checked" : ""; }
  CriteriaTemplateHelper.orRadioSelected = function(join) { return join == "OR" ? "checked" : ""; }
  CriteriaTemplateHelper.link = function(field_display_name) {
    return field_display_name == "" ? "Select A Criteria" : field_display_name;
  }
  CriteriaTemplateHelper.SEARCH_FILTER_START_INDEX = 100

  $(".advanced-search").advancedSearch({criteria: <%= raw @criteria_list.to_json %>});
</script>
