
<% content_for :javascript do %>
  <%= javascript_include_tag "advanced_search.js" %>
  <%= javascript_include_tag "jquery.tmpl.min.js" %>
<% end %>

<div class='advanced-search'>
  <div class="flash">
    <div class="error" style="display:none"></div>
  </div>
  <div class="help-text">Separate words by OR to search for more than one option eg. Tim OR Rahul</div>
  <form action="index">
    <div class='criteria_menu' style='display:none;' >
      <div class='box-shadow content'>
          <a class='close-link' style="float:right;margin-left:6px;"><%= image_tag("dialog-close.png") %></a>

          <ul class='forms'>      
          <% @forms.each do |form| %>
            <li id="<%= form.unique_id %>_form"><%= form.name %> <%= form.enabled? ? "" : "(Disabled)" %></li>
          <% end %>
          </ul>
          <% @forms.each do |form| %>
          <ul id="<%= form.unique_id %>_form_fields" class="fields" style='overflow:auto;width:auto'>
            <% form.all_text_fields.each do |field|%>
	    <% if field.enabled? %>
                <li><a><%= field.display_name_for_field_selector %></a><input type="hidden" class="field" value='<%= field.name %>' /></li>
		<% end %>
            <% end %>
          
            <% empty_lines(form.all_text_fields).times do %> 
              <li>&nbsp;&nbsp;</li>
            <% end %>
          </ul>
          <% end %>
      </div>
    </div>
  
    <script id="criteria_template" type="text/x-jquery-tmpl">
      {{if index < CriteriaTemplateHelper.SEARCH_FILTER_START_INDEX}}
      <p>
        {{if index > 0}}
          <input type='radio' name='criteria_list[${index}][join]' id='criteria_join_and' ${CriteriaTemplateHelper.andRadioSelected(join)} value='AND' /><label for='criteria_join_and'>And</label>
          <input type='radio' name='criteria_list[${index}][join]' id='criteria_join_or' ${CriteriaTemplateHelper.orRadioSelected(join)} value='OR' /><label for='criteria_join_or'>Or</label>
        {{/if}}
        <a class='select-criteria'>${CriteriaTemplateHelper.link(field_display_name) }</a>
        <input type='hidden' name="criteria_list[${index}][field]" value="${field}" class="criteria-field"/>
        <input type='text' name="criteria_list[${index}][value]" value="${value}" class="criteria-value"/>
        <input type='hidden' name="criteria_list[${index}][index]" value="${index}" class="criteria-index"/>
        {{if index > 0}}
          <a class='remove-criteria'>remove</a>
        {{/if}}
      </p>
      {{/if}}
    </script>
  
    <div class="criteria-list" style="float:left">
    </div>
    
    <div style="float:right">
      <input type='submit' value='Search'/>
    </div>
    <p style='clear:both'>
      <a class='add-criteria'>+ add more search options</a>
    </p>

    <hr>
    <table border=0 cellpadding=0 cellspacing=0 bgcolor="white">
      <tr bgcolor="white">
        <td align="right" width=10><%= check_box_tag(:created_by, true, params[:created_by]=='true') %></td>
        <td align="left" width=80><%= label_tag(:created_by_label, "Created by:") %></td>
        <td align="left"><%= text_field_tag(:created_by_value, params[:created_by_value], :disabled => !(params[:created_by]=='true')) %></td>
      </tr>
      <tr bgcolor="white">
        <td align="left"><%= check_box_tag(:updated_by, true, params[:updated_by]=='true') %></td>
        <td align="left"><%= label_tag(:updated_by_label, "Updated by:") %></td>
        <td align="left"><%= text_field_tag(:updated_by_value, params[:updated_by_value], :disabled => !(params[:updated_by]=='true')) %></td>
      </tr>
    </table>

  </form>


</div>

<% if params[:criteria_list] %>
  <%= render :partial => 'children/search_results' %>
<% end %>

<script>

  CriteriaTemplateHelper = {}
  CriteriaTemplateHelper.andRadioSelected = function(join) { return join == "AND" ? "checked" : ""; }
  CriteriaTemplateHelper.orRadioSelected = function(join) { return join == "OR" ? "checked" : ""; }
  CriteriaTemplateHelper.link = function(field_display_name) { 
    return field_display_name == "" ? "Select A Criteria" : field_display_name; 
  }
  CriteriaTemplateHelper.SEARCH_FILTER_START_INDEX = 100
  $(".advanced-search").advancedSearch({criteria: <%=@criteria_list.to_json %>});
</script>
