<%= form_for editable_role, :html => {:class => ''} do |f| %>
    <%= f.error_messages :header_tag => :h3 %>

    <div class="mandate_panel"><span>*</span> <%= t("mandatory_field")%></div>
    <div class="clearfix"></div>
    <fieldset>


      <p>

        <%= f.label :name, '<span class="required">*</span>'.html_safe+t("name"), :class => 'key' %>
        <%= f.text_field :name %>
      </p>

      <p>
        <%= f.label :description, t("description"), :class => 'key' %>
        <%= f.text_area :description %>
      </p>

      <p>

        <%= f.label :permissions, '<span class="required">*</span>'.html_safe+t("permissions.label"), :class => 'key' %>
        <span class="value">
            <% translated_permissions.each do |group_name, permissions| %>
              <span class="section">
                <span class="title"><%= t("permissions.#{group_name}") %></span>
                <% Hash[*permissions.flatten].values.each do |permission| %>
                    <label><%= f.check_box :permissions, {:id => permission.dehumanize, :name => "role[permissions][]"}, permission, "" %>
                    <%= t("permissions.permission.#{permission}") %></label>
                <% end %>
              </span>
            <% end %>
        </span>
      </p>

    </fieldset>
    <div class="btn_panel">
      <%= cancel_button(roles_path) %>
    <%= submit_button(editable_role.new_record? ? t("roles.actions.create") : t("roles.actions.update")) %>
    <!--TODO: After we got the user object in the session replace the DB query with User object-->

        </div>
<% end %>
