<h1 class="no_border"><%= t("roles.label") %></h1>
<div class="page-content-new">
  <div class="side-tab">
    <ul>
      <li><%= link_to t("users.label"), users_path %></li>
      <li class="current"><%= link_to t("roles.label"), roles_path %></li>
    </ul>
  </div>
  <div class="side-tab-content">
    <h2><%= t("roles.list") %></h2>
    <% if can?(:create, Role) %>
    <%= link_to content_tag(:span, t("role.create"), :class => 'create_user'), new_role_path, :class => 'btn' %>
    <% end %>
    <div class="clearfix"></div>

    <form class="filter_bar">
      <div class="show_count"> <%= t("roles.actions.show_all") %> <%= pluralize(@roles.length, t("record")) %> </div>
      <div class="float_left"> <%= t("roles.actions.show") %>: <%= select_tag :show, grouped_options_for_select(translated_permissions, params[:show]), :onchange => "this.form.submit()"  %> </div>
      <div class="float_left"> <%= t("roles.sort_by.label") %>:  <%= select_tag :sort_by_descending_order, options_for_select([[t("roles.sort_by.ascending"),"false"],[ t("roles.sort_by.descending"), "true"]], params[:sort_by_descending_order]), { :onchange => "this.form.submit();"} %> </div>
    </form>
    <table class="list_table">
      <thead>
        <tr>
            <th><%= t("role.name") %></th>
            <th><%= t("description") %></th>
          <% if can?(:edit, Role) %>
            <th></th>
          <% end %>
          <% if can?(:view, Role) %>
              <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @roles.each do |role| %>
            <tr>
              <td class='role_name'><%= role.name %></td>
              <td><%= truncate(role.description, :length => 40) %></td>
              <% if can?(:view, Role) %>
                  <td><%= link_to(t("roles.actions.show"), role_path(role))%></td>
            <% end %>
              <% if can?(:edit, Role) %>
                  <td><%= link_to(t("roles.actions.edit"), edit_role_path(role))%></td>
              <% end %>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
