<h1 class="no_border">Roles</h1>
<div class="page-content-new">
  <div class="side-tab">
    <ul>
      <li><%= link_to "Users", users_path %></li>
      <li class="current"><%= link_to "Roles", roles_path %></li>
    </ul>
  </div>
  <div class="side-tab-content">
    <h2><%= link_to "List of Roles", roles_path %> &gt; Create a Role</h2>
    <div class="mandate_panel"><span>*</span> marked fields are mandatory</div>
    <div class="clearfix"></div>
    <%= form_for @role, :html => {:class => ''} do |f| %>
        <%= error_messages_for :role %>
        <fieldset>
          <p>
            <%= f.label :name, 'Name <span class="required">*</span>'.html_safe, :class=>'key'  %>
            <%= f.text_field :name %>
          </p>
          <p>
            <%= f.label :description, :class=>'key'  %>
            <%= f.text_area :description %>
          </p>
          <p>
            <%= f.label :permissions, 'Permissions <span class="required">*</span>'.html_safe, :class=>'key'  %>
            <span class="value">
                <% Permission.all.each do |group_name, permissions| %>
                    <span class="section">
                    <span class="title"><%= group_name %></span>
                    <% permissions.values.each do |permission| %>
                        <label><%= f.check_box :permissions, {:id => permission.dehumanize, :name => "role[permissions][]"}, permission, "" %>
                        <%= permission %></label>
                    <% end %>
                    </span>
                <% end %>
            </span>
          </p>
          <div class="btn_panel">
            <%= cancel_button(roles_path) %>
            <%= submit_button('Save') %>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>