<h1 class="no_border">Roles</h1>
<div class="page-content-new">
  <div class="side-tab">
    <ul>
      <li><%= link_to t("users.label"), users_path %></li>
      <li class="current"><%= link_to t("roles.label"), roles_path %></li>
    </ul>
  </div>
  <div class="side-tab-content">
    <h2><%= link_to t("roles.list"), roles_path %> &gt; <%= t( "role.create" ) %> </h2>
    <div class="mandate_panel"><span>*</span> <%= t("mandatory_field") %></div>
    <div class="clearfix"></div>
    <%= form_for @role, :html => {:class => ''} do |f| %>
        <%= error_messages_for :role %>
        <fieldset>
          <p>
            <%= f.label :name, '<span class="required">*</span>'.html_safe + t("name"), :class=>'key'  %>
            <%= f.text_field :name %>
          </p>
          <p>
            <%= f.label :description,t("description"), :class=>'key'  %>
            <%= f.text_area :description %>
          </p>
          <p>
            <%= f.label :permissions, '<span class="required">*</span>'.html_safe+t("permissions.label"), :class=>'key'  %>
            <span class="value">
                <% translated_permissions.each do |group_name, permissions| %>
                    <span class="section">
                    <span class="title"><%= t("permissions.#{group_name}") %></span>
                    <% Hash[*permissions.flatten].values.each do |permission| %>
                        <label><%= f.check_box :permissions, {:id => permission.dehumanize, :name => "role[permissions][]"}, permission, "" %>
                        <%= t("permissions.permission.#{permission}") %></label>
                    <% end %>
                    </span>
                <% end %>
            </span>
          </p>
          <div class="btn_panel">
            <%= cancel_button(roles_path) %>
            <%= submit_button(t("buttons.save")) %>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>