<h1 class="no_border">Roles</h1>
<div class="page-content-new">
  <div class="side-tab">
    <ul>
      <li><%= link_to "Users", users_path %></li>
      <li class="current"><%= link_to "Roles", roles_path %></li>
    </ul>
  </div>
  <div class="side-tab-content">
    <h2>List of Roles</h2>
    <% if can?(:create, Role) %>
        <%= link_to content_tag(:span, "Create Role", :class => 'create_user'), new_role_path, :class => 'btn' %>
    <% end %>
    <div class="clearfix"></div>

    <%= form_for @role, :html => {:class => ''} do |f| %>
        <%= error_messages_for :role %>
        <fieldset>
          <p>
            <%= f.label :name, 'Name '.html_safe, :class=>'key'  %>
            <span class="value"><%= @role.name %></span>
          </p>
          <p>
            <%= f.label :description, :class=>'key'  %>
            <%= @role.description %>
          </p>
          <p>
            <%= f.label :permissions, 'Permissions'.html_safe, :class=>'key'  %>
            <span class="value">
            <% Permission.all.each do |group_name, permissions| %>
                    <strong style="display: block; "><%= group_name %></strong>
              <% permissions.values.each do |permission| %>
                  <%= f.check_box :permissions, {:id => permission.dehumanize, :name => "role[permissions][]", :disabled => "disabled"}, permission, "" %>
                  <span><%= permission %></span>
              <% end %>
          <% end %>
                </span>
          </p>
        </fieldset>
    <% end %>

  </div>
</div>
