<h1 class="no_border">Roles</h1>
<div class="page-content-new">
  <%= render :partial => 'shared/side_tab', :locals => {:highlight_page => 'roles'} %>
  <div class="side-tab-content">
    <% if can? :update, @role %>
      <a class="btn" href="<%= edit_role_path @role %>">
        <span class="edit"><%= t("buttons.edit") %></span>
      </a>
    <% end %>

    <h2>
      <%= link_to t("roles.list"), roles_path %> &gt; <%= t("roles.view") %> (<%= @role.name %>)
    </h2>

    <div class="clearfix"></div>

    <%= form_for @role, :html => {:class => ''} do |f| %>
        <%= error_messages_for :role %>
        <fieldset>
          <p>
            <%= f.label :name, t("name"), :class=>'key'  %>
            <span class="value"><%= @role.name %></span>
          </p>
          <p>
            <%= f.label :description, t("description"), :class=>'key'  %>
            <%= @role.description %>
          </p>
          <p>
            <%= f.label :permissions, t("permissions.label"), :class=>'key'  %>
            <span class="value">
                <% Permission.all.each do |group_name, permissions| %>
                    <span class="section">
                      <span class="title"><%= group_name %></span>
                        <% permissions.values.each do |permission| %>
                        <label><%= f.check_box :permissions, {:id => permission.dehumanize, :name => "role[permissions][]", :disabled => "disabled"}, permission, "" %>
                            <%= permission %></label>
                        <% end %>
                    </span>
                <% end %>
            </span>
          </p>
        </fieldset>
    <% end %>

  </div>
</div>
