<h1><%= link_to t("children.label"), children_path %> &gt; <%= link_to @model.short_id, child_path(@model) %> &gt; <%= t("child.manage_photos") %></h1>
<script type="text/javascript">
$(function() {
  window.Photos.refresh(<%= @photos_details.to_json.html_safe %>);
});
</script>
<div class="clearfix"></div>
<div class="manage_photos">
  <div class="thumbnails">
    <div class="flash" style="display:none"><div id="notice" class="error"></div></div><br class="clearfix" />
  </div>
  <div class="clearfix"></div>
  <a href="#" id="selectPrimaryPhotoButton" class="btn"><span class="photo"><%= t("child.actions.choose_as_primary_photo") %></span></a>
  <a href="#" id="viewFullSizePhotoButton" class="btn"><span class="photo"> <%=	 t("child.actions.view_full_size_photo") %> </span></a>
  <div class="clearfix"></div>
</div>
