<h1 class="no_border"><%= link_to 'Form', formsections_path %> &gt; <%= link_to @form_section.name, edit_form_section_path(@form_section) %></h1>
<div class="page-content-new">
  <div class="side-tab-content full_width">
    <%= form_for @field, :url => url, :html => {:class => ""} do |f| %>
        <%= error_messages_for :field %>

        <%= f.hidden_field 'type', :value => @field.type %>

        <fieldset>
          <h3><%= @field.type.humanize %> details</h3>
          <%= render :partial => "common", :locals => {:f => f} %>
        </fieldset>
        <br>

        <%= render :partial => "shared/add_translations", :locals => {:properties => [:display_name, :help_text], :f => f}%>
        <div class="btn_panel">
          <%= cancel_button(choose_field_path(@form_section.unique_id)) %>
          <p class='submitButton'>
            <%= f.submit 'Save' %>
          </p>
        </div>
    <% end %>
  </div>
</div>