<h1 class="no_border"><%= link_to 'Form', formsections_path %> &gt; <%= link_to @form_section.name, edit_form_section_path(@form_section) %></h1>
<div class="page-content-new">
  <div class="side-tab-content full_width">
    <%= form_for @field, :url => url, :html => {:class => ""} do |f| %>
        <%= error_messages_for :field %>

        <%= f.hidden_field 'type', :value => @field.type %>

        <fieldset>
          <h3><%= @field.type.humanize %> details</h3>
          <%= render :partial => "common", :locals => {:f => f} %>
        </fieldset>
        <br>

        <div class="translation">
          <label><%= t(:provide_translation) %></label>
          <%= select_tag("locale", options_for_select(RapidFTR::Application::LOCALES_WITH_DESCRIPTION.select { |option| option[1] != I18n.default_locale.to_s })) %>
          <br>
          <% RapidFTR::Application::LOCALES.each do |locale| %>
              <% if I18n.default_locale.to_s != locale %>
                  <div class="<%= "translation_fields #{locale}"%> hide">
                    <fieldset>
                    <label class="label"><%= t(:display_name, :scope => :field) %></label>
                    <%= f.text_field "display_name_#{locale}".to_sym %><br>
                    <label class="label"><%= t(:help_text) %></label>
                    <%= f.text_field "help_text_#{locale}".to_sym %><br>
                    </fieldset>
                  </div>
              <% end %>
          <% end %>
        </div>

        <div class="btn_panel">
          <%= cancel_button(choose_field_path(@form_section.unique_id)) %>
          <p class='submitButton'>
            <%= f.submit 'Save' %>
          </p>
        </div>
    <% end %>
  </div>
</div>