       
<li class="<%=suggested_field.unique_id%>Display">
  <% form_for suggested_field.field, :url => formsection_fields_path(form_section_id), :html => {:method => :post}  do |f| %>
	  <%= submit_tag "#{suggested_field.name}" %>
	  <div>
			<%=suggested_field.description%>
		</div>
	  <ul>
		<li><strong>Field name:</strong> 
		  <%= suggested_field.field.name %></li>
		<li><strong>Field type:</strong> 
		  <%= suggested_field.field.type %></li>
		<% if(suggested_field.field.options) %>
			<li><strong>Options:</strong>
				<%=display_options suggested_field.field %></li>
		<% end %>
	  </ul>

		<%= f.hidden_field :name %>
		<%= f.hidden_field :type %>
		<%= f.hidden_field :help_text %>
	  	<%= option_fields_for f, suggested_field %>
	  	<input type="hidden" name="from_suggested_field" value="<%=suggested_field.unique_id%>"/>
  <% end %>
</li>