<h1 class="no_border">Forms</h1>
<div class="page-content-new">
  <div class="side-tab-content full_width">

    <h2>Add New Field</h2>

    <div class="clearfix"></div>

    <div class="choose_field">
      <p>Choose Field Type</p>
      <ul>
        <li><%= link_to "Text Field", new_formsection_field_path(@form_section.unique_id, :type => 'text_field') %> </li>
        <li><%= link_to "Text Area", new_formsection_field_path(@form_section.unique_id, :type => 'textarea') %></li>
        <li><%= link_to "Check boxes", new_formsection_field_path(@form_section.unique_id, :type => 'check_boxes') %></li>
        <li><%= link_to "Select drop down", new_formsection_field_path(@form_section.unique_id, :type => 'select_box') %></li>
        <li><%= link_to "Radio button", new_formsection_field_path(@form_section.unique_id, :type => 'radio_button') %></li>
        <li><%= link_to "Numeric Field", new_formsection_field_path(@form_section.unique_id, :type => 'numeric_field') %></li>
        <li><%= link_to "Date Field", new_formsection_field_path(@form_section.unique_id, :type => 'date_field') %></li>
      </ul>
      <br>

      <p> Or use a suggested field</p>
      <table id="suggestedFields" class="list_table">
        <thead>
        <th>Name</th>
        <th>Help text</th>
        <th>Type</th>
        <th>Available options</th>
        <th></th>
        </thead>
        <%= render :partial => "suggested_field", :collection => @suggested_fields, :locals => {:form_section_id => @form_section.unique_id} %>

      </table>
    </div>


    <p><%= link_to "Go Back To Edit Forms Page", edit_form_section_path(@form_section) %></p>
  </div>
</div>