<div>
  <p>Are you sure you want to <%= params[:toggle_fields].downcase %> fields</p>
</div>
<% form_tag toggle_fields_formsection_fields_path(params[:formsection_id]), :id => 'confirmation_form', :method => 'post' do %>
<% params[:fields].each do |field_name| %>
    <%= hidden_field_tag "fields[]", field_name %>
<% end %>
<%= hidden_field_tag "toggle_fields", params[:toggle_fields] %>
<div class="formSectionButtons">
  <%= submit_tag "Ok" %>
  <%= submit_tag "Cancel", :name => 'toggle_fields' %>
</div>
<% end %>