<h2>Fields</h2>

<table id="formFields">
    <% @form_section.fields.each do |field| %>
    <tr id="<%="#{field.name}Row"%>">
      <td><%= field.name %></td>
      <%if @form_section.editable?%>
        <td>
		    <%= render :partial => "direction_button", :locals =>{:direction=>"Up", :field=>field, :url=>move_up_formsection_fields_path(@form_section.unique_id)} %>
        </td>
        <td>
		    <%= render :partial => "direction_button", :locals =>{:direction=>"Down", :field=>field, :url=>move_down_formsection_fields_path(@form_section.unique_id)} %>
        </td>
      <%end%>
    </tr>
   <% end %>
</table>
       <p>
<%= link_to "Add Custom Field", new_formsection_fields_path(@form_section.unique_id) %>
</p>