<fieldset>
  <legend>Add New Field</legend>
  <div class="subtitle">
    <h2>1. Choose Field Type</h2>
  </div>
  <div class="content">
    <ul>
      <li><%=link_to "TextField", new_text_field_formsection_fields_path(@form_section.unique_id)%> </li>
      <li><%=link_to "TextArea", new_textarea_formsection_fields_path(@form_section.unique_id)%></li>
      <li><%=link_to "Check box", new_check_box_formsection_fields_path(@form_section.unique_id)%></li>
      <li><%=link_to "Select drop down", new_select_drop_down_formsection_fields_path(@form_section.unique_id)%></li>
    </ul>
  </div>
  <ul id="suggestedFields">

    <% @suggested_fields.each do |suggested_field| %>
        <li class="<%=suggested_field.unique_id%>Display">
          <a href="#"><%=suggested_field.name%></a>
          <%=suggested_field.description%>

          <% form_for suggested_field.field, :url => formsection_fields_path(@form_section.unique_id)  do |f| %>
              <%= suggested_field.field.name %>
              
            <% suggested_field.field.each_pair do |key, value| %>
                  <%= key %> = <%= value %> AND 
                <%= f.hidden_field  key %>
            <% end %>
            <%= submit_tag "Add #{suggested_field.name}" %>
          <% end %>
        </li>
    <% end %>
  </ul>
</fieldset>
