<fieldset>
  <legend>Add New Field</legend>
  <div class="subtitle">
    <h2>1. Choose Field Type</h2>
  </div>
  <div class="content">
    <ul>
      <li><%=link_to "TextField", new_text_field_formsection_fields_path(@form_section.unique_id)%> </li>
      <li><%=link_to "TextArea", new_textarea_formsection_fields_path(@form_section.unique_id)%></li>
      <li><%=link_to "Check box", new_check_box_formsection_fields_path(@form_section.unique_id)%></li>
      <li><%=link_to "Select drop down", new_select_drop_down_formsection_fields_path(@form_section.unique_id)%></li>
    </ul>
  </div>
  <ul id="suggestedFields">
       <%= render :partial => "suggested_field", :collection => @suggested_fields, :locals=> {:form_section_id=>@form_section.unique_id} %>

  </ul>
</fieldset>
