<h1><%= link_to t("enquiries.label"), enquiries_path %> &gt; <%= t("enquiries.create_new_enquiry") %></h1>

<%= form_tag enquiries_path, :multipart => true do %>
    <div class="page-content-new">
      <div class="side-tab">
        <%= render :partial => "tabs", :object => @form_sections %>
      </div>
      <div class="side-tab-content">
        <div class="clearfix"></div>
        <%= render :partial => "form_section", :collection => @form_sections %>
        <div class="btn_panel">  
            <%= discard_button :back %>
            <%= submit_button %>    
        </div> 
      </div> 
    </div>    
    <div class="clearfix"></div>
<% end %>



