<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title><%= controller.name %>: <%= controller.action_name %></title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag 'core' %>
  <%= stylesheet_link_tag 'overcast/jquery-ui-1.8.6.custom.css' %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag "jquery-1.4.3.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.6.custom.min.js" %>
  <%= javascript_include_tag "jquery.idletimeout.js" %>
  <%= javascript_include_tag "jquery.idletimer.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag "form_section.js" %>
  <%= javascript_include_tag "utils.js" %>
  <%= javascript_include_tag "jquery.rotate.1-1.js" %>
  <%= javascript_include_tag "session_timeout.js" %>
  <%= yield :javascript %>
</head>
<body class="<%= @body_class %>">
<div class="page-container">
  <div class="page-header">
    <p class="brand"><a href="/"><%= image_tag "logo.jpg" %></a></p>

    <div class="nav">
      <ul>
        <% unless current_user_name.nil? %>
            <li class="userInfo">Logged in as <em><%= current_user_name %></em> (<%= link_to 'Logout', :logout %>)</li>
        <% end %>
        <li><a href="/">Home</a></li>
        <% unless current_user_name.nil? %>
            <% unless !is_admin? %>
                        <li><%= link_to 'Admin', admin_path %></li>
            <% end %>
            <li><%= link_to('Search Children', :search_children) %></li>
			<li><%= link_to 'Contact &amp; Help', contact_information_path("administrator") %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="page-content">
    <h1><%= @page_name || "&nbsp;" %></h1>

    <div class="content-section">
      <% if flash[:notice].present? %>
        <div class='flash'>
          <p class='notice'><%= flash[:notice] %></p>
        </div>
      <% end %>
      <% if flash[:error].present? %>
        <div class='flash'>
          <p class='error'><%= flash[:error] %></p>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <div class="content-aside">
      <%= render :partial => 'shared/sidebar' %>
    </div>
  </div>


</div>

<!-- idle dialog window markup -->
<div id="dialog" title="Your session is about to expire!">
	<p>You will be logged off in <span id="dialog-countdown"></span> seconds.</p>
	<p>Do you want to continue your session?</p>
</div>

</body>
</html>
