<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title><%= @page_name %></title>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <%= stylesheet_link_tag "application" %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield :javascript %>
  <%= javascript_tag do %>
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;
  <% end %>
</head>
<body class="<%= @body_class %>">
<div class="page_container">
  <header>
    <%= link_to 'RapidFTR logo', root_path, :class => 'logo' %>
    <%= render :partial => "shared/header_links" %>
  </header>
  <div class="main_bar">
    <% if logged_in? %>
    <nav>
      <ul>
        <% if can? :read, Child %>
          <li><%= link_to t("navigation.children"), children_path %></li>
        <% end  %>
        <% if current_user_name==nil or can? :manage, FormSection %>
            <li><%= link_to t("navigation.forms"), form_sections_path %></li>
        <% end %>
        <% if can? :read, User or can? :show, Role %>
          <li><%= link_to t("navigation.users"), users_path %></li>
        <% end %>
        <% if can?(:read, Device) or can?(:read, Replication) %>
          <li><%= link_to t("navigation.devices"), devices_path %></li>
        <% end %>
        <% if can? :read, Report%>
          <li><%= link_to t("navigation.reports"), reports_path %></li>
        <% end %>
      </ul>
    </nav>
        <% if can? :view_and_search, Child %>
  <%= form_tag search_children_path, :method => :get, :id => "search_form" do %>
        <div class="search">
          <%= link_to t("navigation.advanced_search"), new_advanced_search_path %>
          <%= text_field_tag 'query', params[:query] %>
          <%= submit_tag t("navigation.go"), :action => "children/search", :method => "get", :onclick => "return RapidFTR.validateSearch();" %>
        </div>
    <%- end %>
    <% end %>
    <% end %>
  </div>

  <div class="page-content">

    <% if flash[:notice].present? %>
        <div class='flash'>
          <p class='notice'><%= flash[:notice] %></p>
        </div>
    <% end %>
    <% if flash[:error].present? %>
        <div class='flash'>
          <p class='error'><%= flash[:error] %></p>
        </div>
    <% end %>
    <%= yield %>


  </div>


</div>

<!-- idle dialog window markup -->
<div id="dialog" title="<%= t("session.about_to_expire") %>">
  <p> <%= t('messages.logoff_warning_prefix') %> <span id="dialog-countdown"></span> <%= t("messages.logoff_warning_suffix") %></p>

  <p><%= t("messages.logoff_confirmation") %></p>
</div>

<div id="password-prompt-dialog" title="<%= t("encrypt.password_title") %>">
  <div class='flash hide'>
    <p class='error'></p>
  </div>
  <p>
    <label for="password-prompt-field"><%= t("encrypt.password_label") %></label>
    <input type="password" id="password-prompt-field" />
  </p>
</div>

</body>
</html>
