<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title><%= @page_name %></title>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <%= include_stylesheets :common, :media => 'all' %>
  <%= yield :stylesheet %>
  <%= include_javascripts :common %>
  <%= csrf_meta_tag %>
  <%= yield :javascript %>
  <%= javascript_include_tag "i18n" %>
  <%= javascript_include_tag "translations" %>
  <%= javascript_tag do %>
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;
  <% end %>
</head>
<body class="<%= @body_class %>">
<div class="page_container">
  <header>
    <%= link_to 'RapidFTR logo', root_path, :class => 'logo' %>
    <%= render :partial => "shared/header_links" %>
  </header>
  <div class="main_bar">
    <% if logged_in? %>
    <nav>
      <ul>
        <li><%= link_to t("navigation.children"), children_path %></li>
        <% if current_user_name==nil or can? :manage, FormSection %>
            <li><%= link_to t("navigation.forms"), formsections_path %></li>
        <% end %>
        <li><%= link_to t("navigation.users"), users_path %></li>
        <li><%= link_to t("navigation.devices"), devices_path %></li>
        <li><a href="#"><%= t("navigation.reports") %></a></li>
      </ul>
    </nav>
    <%= form_tag search_children_path, :method => :get, :id => "search_form" do %>
        <div class="search">
          <%= link_to t("navigation.advanced_search"), new_advanced_search_path %>
          <%= text_field_tag 'query', params[:query] %>
          <%= submit_tag t("navigation.go"), :action => "children/search", :method => "get", :onclick => "return RapidFTR.validateSearch();" %>
        </div>
    <%- end %>
    <% end %>
  </div>

  <div class="page-content">

    <% if flash[:notice].present? %>
        <div class='flash'>
          <p class='notice'><%= flash[:notice] %></p>
        </div>
    <% end %>
    <% if flash[:error].present? %>
        <div class='flash'>
          <p class='error'><%= flash[:error] %></p>
        </div>
    <% end %>
    <%= yield %>


  </div>


</div>

<!-- idle dialog window markup -->
<div id="dialog" title="Your session is about to expire!">
  <p>You will be logged off in <span id="dialog-countdown"></span> seconds.</p>

  <p>Do you want to continue your session?</p>
</div>

</body>
</html>
