<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title><%= controller.name %>: <%= controller.action_name %></title>
  <link rel="shortcut icon" href="favicon.ico" />
  <%= stylesheet_link_tag 'core' %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag "jquery-1.4.2.min.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag "utils.js" %>
  <%= yield :javascript %>
</head>
<body class="<%= @body_class %>">
<div class="page-container">
  <div class="page-header">
    <p class="brand"><a href="/"><%= image_tag "logo.jpg" %></a></p>

    <div class="nav">
      <ul>
        <% unless current_user_name.nil? %>
            <li class="userInfo">Logged in as <em><%= current_user_name %></em> (<%= link_to 'Logout', :logout %>)</li>
        <% end %>
        <li><a href="/">Home</a></li>
        <li><%= link_to 'Admin', admin_path %></li>
        <li><a href="http://www.rapidftr.com/faq">FAQ</a></li>
        <li><a href="http://www.rapidftr.com">About</a></li>
        <li><a href="http://www.rapidftr.com/contact">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="page-content">
    <h1><%= @page_name || "&nbsp;" %></h1>

    <div class="content-section">
      <% if flash[:notice].present? %>
        <div class='flash'>
          <p class='notice'><%= flash[:notice] %></p>
        </div>
      <% end %>
      <% if flash[:error].present? %>
        <div class='flash'>
          <p class='error'><%= flash[:error] %></p>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <div class="content-aside">
      <%= render :partial => 'shared/sidebar' %>
    </div>
  </div>


</div>


</body>
</html>
