<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title><%= @page_name %></title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag 'core' %>
  <%= stylesheet_link_tag 'new_core' %>
  <%= stylesheet_link_tag 'overcast/jquery-ui-1.8.6.custom.css' %>
  <%= stylesheet_link_tag 'vtip' %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag :defaults%>
  <%= javascript_include_tag "jquery-ui-1.8.6.custom.min.js" %>
  <%= javascript_include_tag "jquery.idletimeout.js" %>
  <%= javascript_include_tag "jquery.idletimer.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag "form_section.js" %>
  <%= javascript_include_tag "utils.js" %>
  <%= javascript_include_tag "jquery.rotate.1-1.js" %>
  <%= javascript_include_tag "session_timeout.js" %>
  <%= javascript_include_tag "vtip-min.js" %>
  <%= csrf_meta_tag %>
  <%= yield :javascript %>

</head>
<body class="<%= @body_class %>">
<div class="page_container">
  <% if render_header? %>
  <header>
    <div class="logo">RapidFTR logo</div>
    <div class="links">
      <% unless current_user_name.nil? %>
          Welcome <%= current_user_name %>, <%= link_with_confirm 'Logout', :logout %> | <%= link_with_confirm 'My Account', user_path(User.find_by_user_name(current_user_name)) %> |
      <% end %>
      <%= link_with_confirm 'Contact & Help', contact_information_path("administrator")%>
    </div>
  </header>
  <div class="main_bar">
    <nav>
      <ul>
        <li><%= link_to 'CHILDREN', children_path %></li>
        <li><%= link_to 'FORMS', formsections_path %></li>
        <li><%= link_to 'USERS', users_path %></li>
        <li><a href="#">DEVICES</a></li>
        <li><a href="#">REPORTS</a></li>
      </ul>
    </nav>
    <div class="search">
      <%= link_to 'Advanced Search', new_advanced_search_path %>
      <input type="text" />
      <input type="button" value="Go" />
    </div>

  </div>
  <% end %>

  <div class="page-content">

      <% if flash[:notice].present? %>
        <div class='flash'>
          <p class='notice'><%= flash[:notice] %></p>
        </div>
      <% end %>
      <% if flash[:error].present? %>
        <div class='flash'>
          <p class='error'><%= flash[:error] %></p>
        </div>
      <% end %>
      <%= yield %>


  </div>


</div>

<!-- idle dialog window markup -->
<div id="dialog" title="Your session is about to expire!">
	<p>You will be logged off in <span id="dialog-countdown"></span> seconds.</p>
	<p>Do you want to continue your session?</p>
</div>

</body>
</html>
