<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title><%= @page_name %></title>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <%= include_stylesheets :common, :media => 'all' %>
  <%= yield :stylesheet %>
  <%= include_javascripts :common %>
  <%= csrf_meta_tag %>
  <%= yield :javascript %>

</head>
<body class="<%= @body_class %>">
<div class="page_container">
  <header>
    <%= link_to 'RapidFTR logo', root_path, :class => 'logo' %>
    <%= render :partial => "shared/header_links" %>
  </header>
  <div class="main_bar">
    <nav>
      <ul>
        <li><%= link_to 'CHILDREN', children_path %></li>
        <% if current_user_name==nil or can? :manage, FormSection %>
            <li><%= link_to 'FORMS', formsections_path %></li>
        <% end %>
        <li><%= link_to 'USERS', users_path %></li>
        <li><%= link_to 'DEVICES', devices_path %></li>
        <li><a href="#">REPORTS</a></li>
      </ul>
    </nav>
    <%= form_tag search_children_path, :method => :get, :id => "search_form" do %>
        <div class="search">
          <%= link_to 'Advanced Search', new_advanced_search_path %>
          <%= text_field_tag 'query', params[:query] %>
          <%= submit_tag "Go", :action => "children/search", :method => "get" %>
        </div>
    <%- end %>

  </div>

  <div class="page-content">

    <% if flash[:notice].present? %>
        <div class='flash'>
          <p class='notice'><%= flash[:notice] %></p>
        </div>
    <% end %>
    <% if flash[:error].present? %>
        <div class='flash'>
          <p class='error'><%= flash[:error] %></p>
        </div>
    <% end %>
    <%= yield %>


  </div>


</div>

<!-- idle dialog window markup -->
<div id="dialog" title="Your session is about to expire!">
  <p>You will be logged off in <span id="dialog-countdown"></span> seconds.</p>

  <p>Do you want to continue your session?</p>
</div>

</body>
</html>
