<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>Children: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'core' %>
</head>
<body class="<%= @body_class %>">
<div class="page-container">
  <div class="page-header">
        <p class="brand"><a href="/"><%= image_tag "logo.jpg" %></a></p>

    <div class="nav">
      <ul>
        <li><a href="/">Logout</a></li>
        <li><a href="/">Admin</a></li>
        <li><a href="/">FAQ</a></li>
        <li><a href="/">Contact</a></li>
        <li><a href="/">About</a></li>
      </ul>
    </div>
  </div>
  <div class="page-content">
    <h1><%= @page_name || "&nbsp;" %></h1>

    <div class="content-section">
      <p style="color: green"><%= flash[:notice] %></p>
      <%= yield %>
    </div>

    <div class="content-aside">
      <%= render :partial => (@aside or 'participate')%>
    </div>
  </div>


</div>


</body>
</html>
